<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
      <h2 class="text-center mt-5" style="color: #FFDE82;">Equipping Christians to be Ambassadors for Christ</h2>
      <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">These are courses aimed at equipping Christians to help people navigate the challenges and struggles of modern Christian living.</h4>
  </div>
</div>

<!-- New Section-->
<div class="container-fluid" style="background-color: #FFFCF0;">

  <!--English Courses-->
    <div class="container" id="englishCourses">

          <div class="row">
            <h2 class="text-start space" style="color: #7F6A4F;">English Courses</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">English Courses</h2> -->
              <p class="text-start">BCTI follows the Biblical Counseling model of the Christian Counseling and Educational Foundation (CCEF). We offer an 'Introduction to Biblical Counseling Certificate' after completing four modules: How People Change, Instruments in the Redeemer’s Hands, Health and Healing, and Marriage and Parenting.</p>
                <p>Courses are available via Zoom in and English.</p>
              <a type="button" class="btn text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
    </div>

  <!--CCEF-BCTI Courses-->
    <div class="container">
          <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
            <h2 class="text-start space" style="color: #7F6A4F;">CCEF-BCTI Courses</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">CCEF-BCTI Courses</h2> -->
              <p class="text-start">BCTI partners with the Christian Counseling & Educational Foundation (CCEF)* to provide biblical counselling courses in India at a discounted rate.</p>
              <p class="text-start">These online courses provide a solid biblical foundation for understanding God, yourself, and others, making them invaluable for anyone involved in ministry or counselling.</p>
              <a type="button" class="btn text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
    </div>

  <!--Hindi Courses-->
  <div class="container">

    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">Hindi Courses</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">Online Courses</h2> -->
        <p class="text-start" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p class="text-start" >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a type="button" class="btn text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
      </div>
    </div>
  </div>
</div>

<!--Upcoming Events-->
<div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">Upcoming Events</h2>
  <!--Row Cols-->
  <div class="row row-cols-1 row-cols-md-3 g-5">
    <div *ngFor="let items of sortedArray; let i = index">
      <div *ngIf="i < 3" class="row" style="align-items: center;">
        <div class="col">
          <div class="card" style="background-color: transparent; border: none;">
            <img *ngIf="items.summary =='Instruments in the Redeemers Hands'" src="assets/img/landing/irh_title.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='How People Change'" src="assets/img/landing/hpc.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='Health and Healing'" src="assets/img/landing/hnh.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='Marriage and Parenting'" src="assets/img/landing/mnp.webp" class="card-img-top rounded" alt="...">
            <div  class="mt-4">
              <h6 class="card-title">{{items.summary }}</h6>
              <h6 class="card-title">Starts: <span style="font-weight: 400;">{{items.sdate | date:'mediumDate'}}</span></h6>
              <h6 class="card-title">Time: <span style="font-weight: 400;">{{ items.sdate | date:'shortTime' }}</span></h6>
              <p style="white-space: pre-line">{{ items.description }}</p>
            </div>
            <a *ngIf="items.summary =='Instruments in the Redeemers Hands'" type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://irh.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='How People Change'" type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='Health and Healing'" type="button" target="_blank" rel="noreferrer noopener" class="btn text-white mt-3" href="https://hnh.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='Marriage and Parenting'" type="button" target="_blank" rel="noreferrer noopener" class="btn text-white mt-3" href="https://mnp.bcti.org.in//" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Upcoming Courses-->
<!-- <div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">Upcoming Courses</h2> -->
    <!--Row Cols-->
    <!-- <div class="row row-cols-1 row-cols-md-3 g-5">
      <div class="col">
        <div class="card" style="background-color: transparent; border: none;">
          <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
          <div class="mt-4">
            <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
            <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
          </div>
          <button type="button" class="btn text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: transparent; border: none;">
          <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
          <div class="mt-4">
            <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
            <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
          </div>
          <button type="button" class="btn btn-secondary text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: transparent; border: none;">
          <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
          <div class="mt-4">
            <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
            <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
          </div>
          <button type="button" class="btn btn-secondary text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
        </div>
      </div>
    </div>  -->
  </div>
</div>

<!--Contact Form-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row flex-sm-row-reverse" >
      <div class="col-md-6 mb-4">
        <div class="card shadow-none">
          <div class="card-body" >
            <!-- <form [formGroup]="coursesForm" (ngSubmit)="onSubmit()">
              <div class="form-group  mt-3">
                <label>Full Name</label>
                <input type="text" formControlName="fullname" class="form-control mt-3" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"/>
                <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                  <div *ngIf="f['fullname'].errors['required']">Name is required</div>
              </div>
              </div>

              <div class="form-group  mt-3">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control  mt-3" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                @if (submitted && f['email'].errors) {
                <div class="invalid-feedback">
                  @if (f['email'].errors['required']) {
                  <div>Email is required</div>
                  }
              @if (f['email'].errors['email']) {
                  <div>Email is invalid</div>
                  }
                </div>
                }
              </div>

              <div class="form-group  mt-3">
                <label>Mobile Number</label>
                <input type="number" formControlName="phone" class="form-control  mt-3" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"/>
                @if (submitted && f['phone'].errors) {
                <div class="invalid-feedback">
                  @if (f['phone'].errors['required']) {
                  <div>Mobile number is required</div>
                  }
              @if (f['phone'].errors['phone']) {
                  <div>Mobile number is invalid</div>
                  }
                </div>
                }
              </div>

              <div class="form-group  mt-3">
                <label>Message</label>
                <input type="text" formControlName="message" class="form-control  mt-3" style="height: 80px;" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"/>
                @if (submitted && f['message'].errors) {
                <div class="invalid-feedback">
                  @if (f['message'].errors['required']) {
                  <div>Fullname is required</div>
                  }
                </div>
                }
              </div>


              <div class="form-group my-3">
                <button type="button" class="btn btn-secondary text-white mt-3" style="background-color: #6CAB72; font-size: medium; width: 200px;">Submit</button>
                <button type="button" class="btn btn-dark text-white mt-3 ms-md-4"  (click)="onReset()" style="font-size: medium; width: 120px;">Reset</button>
              </div>
            </form> -->

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSebNk_PuI0BE85ZZSzoBupFL6V7CyDzE98CO6ADbVY_UyYFJA/viewform?embedded=true" width="100%" height="700px" marginheight="0" marginwidth="0">Loading…</iframe>

          </div>
      </div>
      </div>
      <div class="col-md-6" style="align-content: center;">
        <h2 class="text-start space" style="color: #7F6A4F;">Send us your query and we will get in touch with you</h2>
      </div>
    </div>
  </div>
</div>
