<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
      <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">Equipping Christians to be Ambassadors for Christ</h1>
      <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">These are courses aimed at equipping Christians to help people navigate the challenges and struggles of modern Christian living.</h4>
  </div>
</div>

<!--Video Testimony-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
  <div class="row flex-sm-row-reverse" >
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/1039962732?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Anu's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
        <!-- <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4"></iframe> -->
      </div>
      </div>
      <div class="col-md-6" >
        <h2 class="text-start space" style="color: #7F6A4F;">Anu's Story</h2>
        <p class="text-start">Anu is a homemaker with 4 children in Kerala. She was introduced to BCTI by her sister. Through the online courses conducted by BCTI, she experienced growth and transformation. This equipped her to navigate her marriage and parenting in a godly way as she matured in her understanding and faith.</p>
      </div>
  </div>
  </div>
</div>

<!-- New Section-->
<div class="container-fluid" style="background-color: #D2D8BE;">

  <!--English Courses-->
    <div class="container" id="englishCourses">

          <div class="row">
            <h2 class="text-start space" style="color: #7F6A4F;">English Courses</h2>
            <div class="col-md-6 spacer">
              <!-- <div class="ratio ratio-16x9"> -->
                <img src="assets/img/courses/bcti_logo_lg.webp" alt="" class="rounded img-fluid pb-3" style="margin-left: -12px; max-height: 300px !important;">
              <!-- </div> -->
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">English Courses</h2> -->
              <p class="text-start">BCTI follows the Biblical Counseling model of the Christian Counseling and Educational Foundation (CCEF). We offer an 'Introduction to Biblical Counseling Certificate' after completing four modules:</p>
               <ul> <li>How People Change</li><li>Instruments in the Redeemer's Hands</li><li>Health and Healing</li> <li>Marriage and Parenting</li></ul>
                <p>Interactive Courses are available via Zoom in English.</p>
              <a type="button" class="btn text-white mt-3" [routerLink]="['/engcourses']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
    </div>

  <!--CCEF-BCTI Courses-->
    <div class="container">
          <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
            <h2 class="text-start space" style="color: #7F6A4F;">CCEF-BCTI Courses</h2>
            <div class="col-md-6 spacer">
              <!-- <div class="ratio ratio-16x9"> -->
                <img src="assets/img/ccef/ccefnn_1.webp" alt="" class="img-fluid rounded pb-3" style="max-height: 270px;">
              <!-- </div> -->
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">CCEF-BCTI Courses</h2> -->
              <p class="text-start">BCTI partners with the Christian Counseling & Educational Foundation (CCEF), Philadelphia, USA, (<a target="_blank" rel="noreferrer noopener" href="https://www.ccef.org/" >https://www.ccef.org/</a>) to provide biblical counselling courses in India at a discounted rate.</p>
              <p class="text-start">These online courses provide a solid biblical foundation for understanding God, yourself, and others, making them invaluable for anyone involved in ministry or counselling. The following two courses are offered:</p>
              <ul><li>Dynamics of Biblical Change</li><li>Helping Relationships</li></ul>
              <a type="button" class="btn text-white mt-3" [routerLink]="['/ccef-bcti']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
    </div>

  <!--Hindi Courses-->
  <div class="container">

    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">Hindi Courses</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="assets/img/landing/courses2.webp" alt="" class="rounded pb-3" style="margin-left: -12px;">
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">Online Courses</h2> -->
        <p class="text-start" >बी सी टी आई, क्रिश्चियन काउंसलिंग एंड एजुकेशनल फाउंडेशन (सीसीईएफ) के बाइबिल परामर्श मॉडल का अनुसरण करता है। हम चार मॉड्यूल पूरा करने के बाद 'बाइबिल परामर्श प्रमाणपत्र का परिचय' प्रदान करते हैं</p>
        <ul> <li>लोग कैसे बदलते है</li><li>परिवर्तन के उपकरण</li><li>स्वास्थ्य और चंगाई</li> <li>विवाह और परवरिश</li></ul>
        <p>पाठ्यक्रम हिंदी में ज़ूम के माध्यम से उपलब्ध हैं।</p>
        <a type="button" class="btn text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
      </div>
    </div>
  </div>
</div>

<!--Upcoming Events-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <!-- <h2 class="text-start space" style="color: #7F6A4F;">Upcoming Events</h2> -->
  <!--Row Cols-->
  <!-- <div class="row row-cols-1 row-cols-md-3 g-5">
    <div *ngFor="let items of sortedArray; let i = index">
      <div *ngIf="i < 3" class="row" style="align-items: center;">
        <div class="col">
          <div class="card" style="background-color: transparent; border: none;">
            <img *ngIf="items.summary =='Instruments in the Redeemers Hands'" src="assets/img/landing/irh_title.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='How People Change'" src="assets/img/landing/hpc.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='Health and Healing'" src="assets/img/landing/hnh.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='Marriage and Parenting'" src="assets/img/landing/mnp.webp" class="card-img-top rounded" alt="...">
            <img *ngIf="items.summary =='Dynamics of Biblical Change'" src="assets/img/ccef/ccef_dbc.webp" class="card-img-top img-fluid rounded" alt="...">
            <img *ngIf="items.summary =='Helping Relationships'" src="assets/img/ccef/ccef_hr.webp" class="card-img-top img-fluid rounded" alt="...">
            <div  class="mt-4">
              <h6 class="card-title">{{items.summary }}</h6>
              <h6 class="card-title">Starts: <span style="font-weight: 400;">{{items.sdate | date:'mediumDate'}}</span></h6>
              <h6 class="card-title">Time: <span style="font-weight: 400;">{{ items.sdate | date:'shortTime' }}</span></h6>
              <p style="white-space: pre-line">{{ items.description }}</p>
            </div>
            <a *ngIf="items.summary =='Instruments in the Redeemers Hands'" type="button" class="btn text-white mt-3" [routerLink]="['/irh']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='How People Change'" type="button" class="btn text-white mt-3" [routerLink]="['/hpc']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='Health and Healing'" type="button" class="btn text-white mt-3"[routerLink]="['/hnh']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='Marriage and Parenting'" type="button" class="btn text-white mt-3" [routerLink]="['/mnp']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='Dynamics of Biblical Change'" type="button" class="btn text-white mt-3" [routerLink]="['/ccef-bcti']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            <a *ngIf="items.summary =='Helping Relationships'" type="button" class="btn text-white mt-3" [routerLink]="['/ccef-bcti']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--Upcoming Events-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container"> -->
    <h2 class="text-start space" style="color: #7F6A4F;">Upcoming Courses</h2>
    <!-- English Courses -->
    <div>
    <h3 style="font-weight: 600 !important;">English Courses</h3>
    <!--Row Cols-->
    <div class="row row-cols-1 row-cols-md-2 g-5">
      <div *ngFor="let items of sortedArray; let i = index">
        <div *ngIf="i < 2" class="row" style="align-items: center;">
          <div class="col">
            <div class="card" style="background-color: transparent; border: none;">
              <img *ngIf="items.summary =='Instruments in the Redeemers Hands'" src="assets/img/landing/irh_title.webp" class="card-img-top rounded" alt="...">
              <img *ngIf="items.summary =='How People Change'" src="assets/img/landing/hpc.webp" class="card-img-top rounded" alt="...">
              <img *ngIf="items.summary =='Health and Healing'" src="assets/img/landing/hnh.webp" class="card-img-top rounded" alt="...">
              <img *ngIf="items.summary =='Marriage and Parenting'" src="assets/img/landing/mnp.webp" class="card-img-top rounded" alt="...">
              <div  class="mt-4">
                <h6 class="card-title">{{items.summary }}</h6>
                <h6 class="card-title">Starts: <span style="font-weight: 400;">{{items.sdate | date:'mediumDate'}}</span></h6>
                <h6 class="card-title">Time: <span style="font-weight: 400;">{{ items.sdate | date:'shortTime' }}</span></h6>
                <p style="white-space: pre-line">{{ items.description }}</p>
              </div>
              <a *ngIf="items.summary =='Instruments in the Redeemers Hands'" type="button" class="btn btn-success mt-3" [routerLink]="['/irh']" style="font-size: medium; width: 200px;">Know More</a>
              <a *ngIf="items.summary =='How People Change'" type="button" class="btn btn-success mt-3" [routerLink]="['/hpc']" style="font-size: medium; width: 200px;">Know More</a>
              <a *ngIf="items.summary =='Health and Healing'" type="button" class="btn btn-success mt-3"[routerLink]="['/hnh']" style="font-size: medium; width: 200px;">Know More</a>
              <a *ngIf="items.summary =='Marriage and Parenting'" type="button" class="btn btn-success mt-3" [routerLink]="['/mnp']" style="font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
    <!-- CCEF Courses -->
    <h3 style="font-weight: 600 !important;">CCEF Courses</h3>
    <!--Row Cols-->
    <div class="row row-cols-1 row-cols-md-2 g-5">
      <div *ngFor="let items of sortedArrayCCEF; let j = index">
        <div *ngIf="j < 2" class="row" style="align-items: center;">
          <div class="col">
            <div class="card" style="background-color: transparent; border: none;">
              <img *ngIf="items.summary =='Dynamics of Biblical Change'" src="assets/img/ccef/ccef_dbc_1.webp" class="card-img-top img-fluid rounded mx-auto" alt="..." style="width: fit-content;">
              <img *ngIf="items.summary =='Helping Relationships'" src="assets/img/ccef/ccef_hr_1.webp" class="card-img-top img-fluid rounded mx-auto" alt="..." style="width: fit-content;">
              <div  class="mt-4">
                <h6 class="card-title">{{items.summary}}</h6>
                <h6 class="card-title">Starts: <span style="font-weight: 400;">{{items.sdate | date:'mediumDate'}}</span></h6>
                <h6 class="card-title">Time: <span style="font-weight: 400;">{{ items.sdate | date:'shortTime' }}</span></h6>
                <p style="white-space: pre-line">{{ items.description }}</p>
              </div>
              <a *ngIf="items.summary =='Dynamics of Biblical Change'" type="button" class="btn btn-success mt-3" [routerLink]="['/ccef-bcti']" style="font-size: medium; width: 200px;">Know More</a>
              <a *ngIf="items.summary =='Helping Relationships'" type="button" class="btn btn-success mt-3" [routerLink]="['/ccef-bcti']" style="font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- Hindi Courses -->
    <h3 style="font-weight: 600 !important;">Hindi Courses</h3>
    <!--Row Cols-->
    <div class="row row-cols-1 row-cols-md-2 g-5">
      <div *ngFor="let items of sortedArrayHindi; let k = index">
        <div *ngIf="k < 2" class="row" style="align-items: center;">
          <div class="col">
            <div class="card" style="background-color: transparent; border: none;">
              <img *ngIf="items.summary =='परिवर्तन के उपकरण'" src="assets/img/landing/irh_title.webp" class="card-img-top rounded" alt="...">
              <img *ngIf="items.summary =='लोग कैसे बदलते है'" src="assets/img/landing/hpc.webp" class="card-img-top rounded" alt="...">
              <img *ngIf="items.summary =='स्वास्थ्य और चंगाई'" src="assets/img/landing/hnh.webp" class="card-img-top rounded" alt="...">
              <img *ngIf="items.summary =='विवाह और परवरिश'" src="assets/img/landing/mnp.webp" class="card-img-top rounded" alt="...">
              <div  class="mt-4">
                <h6 class="card-title">{{items.summary }}</h6>
                <h6 class="card-title">Starts: <span style="font-weight: 400;">{{items.sdate | date:'mediumDate'}}</span></h6>
                <h6 class="card-title">Time: <span style="font-weight: 400;">{{ items.sdate | date:'shortTime' }}</span></h6>
                <p class="hindi" style="white-space: pre-line">{{ items.description }}</p>
              </div>
              <a *ngIf="items.summary =='परिवर्तन के उपकरण'" type="button" class="btn btn-success mt-3" [routerLink]="['/irhhindi']" style="font-size: medium; width: 200px;">अधिक जानिए</a>
              <a *ngIf="items.summary =='लोग कैसे बदलते है'" type="button" class="btn btn-success mt-3" [routerLink]="['/hpchindi']" style="font-size: medium; width: 200px;">अधिक जानिए</a>
              <a *ngIf="items.summary =='स्वास्थ्य और चंगाई'" type="button" class="btn btn-success mt-3"[routerLink]="['/hnhhindi']" style="font-size: medium; width: 200px;">अधिक जानिए</a>
              <a *ngIf="items.summary =='विवाह और परवरिश'" type="button" class="btn btn-success mt-3" [routerLink]="['/mnphindi']" style="font-size: medium; width: 200px;">अधिक जानिए</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->


<!--Upcoming Courses-->
<!-- <div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">Upcoming Courses</h2> -->
    <!--Row Cols-->
    <!-- <div class="row row-cols-1 row-cols-md-3 g-5">
      <div class="col">
        <div class="card" style="background-color: transparent; border: none;">
          <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
          <div class="mt-4">
            <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
            <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
          </div>
          <button type="button" class="btn text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: transparent; border: none;">
          <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
          <div class="mt-4">
            <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
            <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
          </div>
          <button type="button" class="btn btn-secondary text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: transparent; border: none;">
          <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
          <div class="mt-4">
            <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
            <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
          </div>
          <button type="button" class="btn btn-secondary text-white mt-3" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
        </div>
      </div>
    </div>  -->
  </div>
</div>

<!--Contact Form-->
<!-- <div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <div class="row flex-sm-row-reverse" >
      <div class="col-md-6 mb-4">
        <div class="card shadow-none">
          <div class="card-body" >


            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSebNk_PuI0BE85ZZSzoBupFL6V7CyDzE98CO6ADbVY_UyYFJA/viewform?embedded=true" width="100%" height="700px" marginheight="0" marginwidth="0">Loading…</iframe>

          </div>
      </div>
      </div>
      <div class="col-md-6" style="align-content: center;">
        <h2 class="text-start space" style="color: #7F6A4F;">Send us your query and we will get in touch with you</h2>
      </div>
    </div>
  </div>
</div> -->
