<!-- Calendar Section-->
<div class="container-fluid" style="background-color: #fdfbe6;">
    <div class="container">
      <div class="space mt-3">
        <div class="row border border-dark border-4 p-4 text-center">
          <div class="col-md-9">
            <h2 class="text-center">Subscribe to our calendar to stay updated</h2>
          </div>
          <div class="col-md-3">
            <a type="button" class="btn btn-outline-dark mt-2" target="_blank" rel="noreferrer noopener" href="https://calendar.google.com/calendar/u/0/r?cid=c_2bf8e511fd99db6cdfe7d25067e6b5ecf4440db3cd6a2a5a8a95cdf3df5e2c39@group.calendar.google.com" style=" font-size: medium; width: 200px;">Register Now</a>
          </div>
        </div>
      </div>
      <div class="googleCalendar" style="height: 550px;">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FKolkata&bgcolor=%23ffffff&mode=AGENDA&src=Y18yYmY4ZTUxMWZkOTlkYjZjZGZlN2QyNTA2N2U2YjVlY2Y0NDQwZGIzY2Q2YTJhNWE4YTk1Y2RmM2RmNWUyYzM5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%233F51B5" style="border:solid 1px #777"  frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
</div>
