<!-- Calendar Section-->
<div class="container-fluid" style="background-color: #FFFCF0;">
    <div class="container">
      <div class="googleCalendar">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FKolkata&bgcolor=%23ffffff&mode=AGENDA&src=Y18yYmY4ZTUxMWZkOTlkYjZjZGZlN2QyNTA2N2U2YjVlY2Y0NDQwZGIzY2Q2YTJhNWE4YTk1Y2RmM2RmNWUyYzM5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%233F51B5" style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
</div>
