<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="container">
      <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">विवाह और परवरिश</h1>
      <h4 class="text-center text-dark mt-4 mb-5" style="font-weight: 400 !important;">Biblical foundations for a good relationship- is based on love and grace and marriage is the subset of relationships as a whole.</h4>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 40vh; align-content: baseline; background-size: cover;">
  <div class="container">
      <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">विवाह और परवरिश</h1>
      <h4 class="text-center text-dark mt-4 mb-5" style="font-weight: 400 !important;">Biblical foundations for a good relationship- is based on love and grace and marriage is the subset of relationships as a whole.</h4>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 80vh; align-content: baseline; background-size: cover;">
  <div class="container">
      <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">विवाह और परवरिश</h1>
      <h3 class="text-center text-dark mt-5 mb-5" style="font-weight: 400 !important;">Biblical foundations for a good relationship- is based on love and grace and marriage is the subset of relationships as a whole.</h3>
  </div>
</div>
<!-- Ribbon   -->
<div class="page-header container-fluid" style="background-color: #D2D8BE; margin-top: -10px;">
  <div class="container">
    <h2 class="text-center" style="color: #7F6A4F;">Are you struggling to understand Marriage & Parenting?</h2>
  </div>
</div>

<!--Video Testimony-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
  <div class="row" >
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/1039963401?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Hema's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
      </div>
      <div class="col-md-6" >
        <h2 class="text-start space" style="color: #7F6A4F;">हेमा की कहानी</h2>
        <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
  </div>
  </div>
</div>

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center">यह कोर्स <span style="color: #FFDE82;">विवाह और परवरिश</span> कोर्स आपकी सहायता करेगा</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">`
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/ai.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">संबंधो का सही अर्थ समझने में</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">`
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">मानुषिक व्यवहार के बाईबलीय दृष्टिकोण को समझना</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">`
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12" style="margin-top: -6px !important;">
              <p class="text-white text-center">पवित्रशास्त्र को दैनिक जीवन के साथ जोड़ना</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#FFFCF0;">
  <div class="container mx-auto" style="background-color:#D2D8BE;">
                <div class="row text-dark mx-3" >
                  <h2 class=" text-dark text-start mb-5">आने वाले बैच</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h6 class="mb-3">बैच {{ i+1 }}</h6>
                                <div class="row">
                                  <div class="col-6">
                                    <h5>प्रारंभ दिनांक</h5>
                                    <p style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5>समय</h5>
                                    <p style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                </div>
                <div class="row mx-3">
                        <div class="col-md-4 justify-content-center">
                          <h4 class="title text-dark text-start mt-4">कीमत</h4>
                          <h5 class="mt-3">Rs. 500/- प्रति सीट</h5>
                        </div>
                        <div class="col-md-4">
                          <h4 class="title text-dark text-start mt-4">संपर्क करें</h4>
                          <span class="mt-3" style="font-weight: 700;">निदिश फिलिप</span>
                          <a type="button" class="btn btn-outline-dark ms-3" href="tel:+919876543210" style="font-weight: 700; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98765 43210</a>
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4" style="align-self: end;">
                          <h5 class="title text-dark text-start mt-4">पंजीकरण करने के लिए नीचे क्लिक करें</h5>
                          <a type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/EWSxwgqfC1jnC8bC7" style="background-color: #6CAB72; font-size: medium; width: 200px;">पंजीकरण करें</a>
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>
                <h6 class="mx-3 mt-5" style="font-size: 0.8rem !important;">* तारीखें परिवर्तन के अधीन हैं|</h6>
  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #7F6A4F;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4" style="font-weight: 700;">जिन्होंने कोर्स किया है उनसे सुने</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_mnp_hindi d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“This course deeply impacted me by shifting my perspective on my relationship with God and revealing idol worship in my life. Unlike individualistic counselling and psychological help, it guided me to recognize my heart as the true source of issues, helping me connect with God in transformative and meaningful ways.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“As a professor, I kept hearing the importance of listening. I joined to change my kids but discovered I needed to change myself! The highlight was the course's format—no sermons, just discussions and questions—making it engaging and interactive.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“I need to view trials through the bigger picture, keeping Christ central in my heart. A deep relationship with Him enables me to respond to struggles with grace, helping others see themselves and the world through a biblical perspective, and fostering fruitful responses in even the toughest situations.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“Through God's power, change is possible for Christians, transforming us into fruit-bearing trees. As a new creation in Christ, I must abandon old ways, focus on my heart instead of circumstances, and rely on God's grace to respond in a godly manner to life's challenges.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“I learned that change starts with me, and instead of changing my situation, I must concentrate on changing my response towards the problem. God will help me through this process....completion of this process is possible through His Grace and Mercy.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“Before this course, I had moved to a new place, feeling unprepared and questioning God’s purpose for bringing me there. Like the Israelites, I grumbled and let bitterness harden my heart. Through the lessons, God revealed my thorny responses, showing me His transformative work and drawing me closer to Him.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“This course was God-appointed during a very difficult time in my life. I experienced His love and forgiveness, realising my struggle with being unable to worship and the idols in my heart. It was liberating to seek forgiveness, gain clarity, and now enjoy freedom and deeper connections with God and others.”</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
