<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">विवाह और परवरिश</h1>
        <h4 class="text-center hindi text-white mt-4 mb-5" style="font-weight: 400 !important;">एक अच्छे सम्बन्ध का बाईबलीय बुनियाद प्रेम और अनुग्रह पर आधारित है, तथा संबंधों के बड़े चित्र के अंतर्गत विवाह का सबंध भी है।</h4>
    </div>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 40vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">विवाह और परवरिश</h1>
        <h4 class="text-center hindi text-white mt-4 mb-5" style="font-weight: 400 !important;">एक अच्छे सम्बन्ध का बाईबलीय बुनियाद प्रेम और अनुग्रह पर आधारित है, तथा संबंधों के बड़े चित्र के अंतर्गत विवाह का सबंध भी है।</h4>
    </div>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: center; height: 60vh; align-content: baseline; background-size: cover; ">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:75px !important;">विवाह और परवरिश</h1>
        <h2 class="text-center hindi text-white mt-5 mb-5" style="font-weight: 400 !important;">एक अच्छे सम्बन्ध का बाईबलीय बुनियाद प्रेम और अनुग्रह पर आधारित है, तथा संबंधों के बड़े चित्र के अंतर्गत विवाह का सबंध भी है।</h2>
    </div>
  </div>
</div>
<!-- Ribbon   -->
<!-- <div class="page-header container-fluid" style="background-color: #D2D8BE; margin-top: -10px;">
  <div class="container">
    <h2 class="text-center" style="color: #7F6A4F;">Are you struggling to understand Marriage & Parenting?</h2>
  </div>
</div> -->

<!--Video Testimony-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" >
        <div class="col-md-6 mb-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/1039963401?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Hema's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        </div>
        <div class="col-md-6" >
          <h2 class="text-start space" style="color: #7F6A4F;">हेमा की कहानी</h2>
          <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
  </div>
</div> -->

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center hindi"><span style="color: #FFDE82;">विवाह और परवरिश</span> कोर्स आपकी सहायता करेगा</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <i class="bi bi-chat-heart text-center" style="font-size: 5.5rem; color: #4b2418;"></i>
            </div>
            <div class="col-12 mt-3">
              <p class="text-white hindi text-center">संबंधो का सही अर्थ समझने में</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white hindi text-center">मानुषिक व्यवहार के बाईबलीय दृष्टिकोण को समझना</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white hindi text-center">पवित्रशास्त्र को दैनिक जीवन के साथ जोड़ना</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#fdfbe6;">
  <div class="container mx-auto" style="background-color:#D2D8BE; border-radius: 12px;">
                <div class="row text-dark mx-3" >
                  <h2 class="hindi text-start mb-5" style="color: #7F6A4F;">आने वाले बैच</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h4 class="mb-3 hindi">बैच {{ i+1 }}</h4>
                                <div class="row">
                                  <div class="col-6">
                                    <h5 class="hindi">प्रारंभ दिनांक</h5>
                                    <p class="hindi" style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5 class="hindi">समय</h5>
                                    <p class="hindi" style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                </div>
                <div class="row mx-3">
                        <div class="col-md-4 justify-content-center">
                          <h4 class="hindi text-start mt-4">कीमत</h4>
                          <h5 class="mt-3 hindi">Rs. 500/- प्रति सीट</h5>
                          <h6 class="mt-4 hindi" style="font-size: 0.8rem !important;">* तारीखें परिवर्तन के अधीन हैं|</h6>
                        </div>
                        <div class="col-md-4">
                          <h4 class="hindi text-start mt-4">संपर्क करें</h4>
                          <h5 class="mt-3 hindi">शिजू जॉन</h5>
                          <a type="button" class="btn btn-success" href="https://wa.me/919910913007" style="font-weight: 500; font-size: medium;"><i class="bi bi-whatsapp me-2"></i>+91 99109 1300</a>
                          <!-- <a type="button" class="btn btn-success hindi" href="tel:+919910913007" style="font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99109 13007</a> -->
                        </div>
                        <div class="col-md-4 mb-md-1" style="align-self: end;">
                          <h5 class="text-start hindi">पंजीकरण करने के लिए नीचे क्लिक करें</h5>
                          <a type="button" class="btn btn-success" target="_blank" rel="noreferrer noopener" href="https://forms.gle/vzttjm4oDKMrNYBG6" style="font-size: medium; width: 200px;">पंजीकरण करें</a>
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>

  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #a98f6e;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 col-12 mx-auto text-start">
          <h2 class="text-white hindi text-center mx-auto mb-4" style="font-weight: 700;">जिन्होंने कोर्स किया है उनसे सुने</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_mnp_hindi d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #f7ecd4;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“इस सत्र ने मुझे यह पहचानने में सहायता करी कि मैं अपने विवाह में किन तौर-तरीकों का प्रयोग करती हूँ, विशेष करके संवाद के क्षेत्र में। मैं यह अंगीकार करती हूँ कि मैं अपने स्वार्थी उद्देश्यों के लिए अपने पति के हेर-फेर करती हूँ। मैं अपनी गलती को देख पाई और जान पाई की स्वयं से प्रेम मेरे इस प्रकार के व्यवहार को प्रेरित करता है।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>गृहिणी</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#fff6e6;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“विवाह का सबसे बड़ा उद्देश्य मसीह और कलीसिया के वाचा के सम्बन्ध को प्रगट करना है – यह बात मुझे छू गयी। इसका मतलब समस्याओं को देखकर अब आप अपने विवाह को छोड़ नहीं सकते परन्तु उस पर कार्य करना है। जब हम अपने जीवनसाथी को क्षमा करते है तो हम उनसे सिद्ध होने की उम्मीद नहीं करते लेकिन उन्हें बढ़ने का अवसर दे रहे है! मैंने अनुभव किया कि परमेश्वर ने मुझे गुस्सा करने और अपने पति के प्रति नफरत को बढ़ाने से मुझे बचा लिया।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>महिला, कलीसिया में अगुवा</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“मैं बच्चों को शर्मिंदा करके, धमका कर, घूस देकर और तुलना करके पालती थी। अब तक मुझे लगता था कि यह ठीक है क्योंकि मुझे भी इसी प्रकार पाला गया था और किसी ने मुझे यह नहीं सीखाया कि यह बच्चों का पालन करने का ईश्वरीय तरीका नहीं है। मेरी आखें खोलने के लिए मैं परमेश्वर का धन्यवाद करती हूँ। मैं सीखी गयी इन नई बातों को अपने जीवन में लागू करने की कोशिश कर रही हूँ।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>महिला, कलीसिया में अगुवा</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
