<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
      <!-- <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">Change doesn't happen overnight.</h1> -->
      <h1 class="text-center text-white" style="font-size:53px !important; text-transform: capitalize;"> Resources for in-depth <span style="color: #FFDE82; font-size:53px !important;">articles, books,</span> and <span style="color: #FFDE82; font-size:53px !important;">newsletter</span> for Biblical Counseling</h1>
      <!-- <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">These are courses aimed at equipping Christians to help people navigate the challenges and struggles of modern Christian living.</h4> -->
  </div>
</div>

<!-- New Section-->
<div class="container-fluid" style="background-color: #D2D8BE;">

  <!--For the truth-->
    <div class="container">

          <div class="row">
            <h2 class="text-start space" style="color: #7F6A4F;">Book Store</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/resources/ftt_logo.webp" alt="" class="rounded pb-3" >
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">English Courses</h2> -->
              <p class="text-start"><em>FOR THE TRUTH</em> is a publishing ministry that exists to publish, distribute, and develop faithful biblical resources for the Church in India.</p>
              <p>You can find additional books on Counseling on their website.</p>
              <a type="button" class="btn btn-success mt-3" target="_blank" rel="noreferrer noopener" href="https://forthetruth.in/" style="font-size: medium; width: 200px;">Shop Now</a>
            </div>
          </div>
    </div>

  <!--Journal of Biblical Counseling-->
    <div class="container">
          <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
            <h2 class="text-start space" style="color: #7F6A4F;">Journal of Biblical Counseling</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/resources/jbc.webp" alt="" class="img-fluid rounded pb-3">
              </div>
            </div>
            <div class="col-md-6">
              <p class="text-start">Journal articles cover a broad range of Biblical Counseling and methodology topics. Many are written by CCEF faculty, and also from other authors, pastors, and practitioners in the field.</p>
              <a type="button" class="btn btn-success mt-3" target="_blank" rel="noreferrer noopener" href="https://www.ccef.org/journal-of-biblical-counseling/" style="font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
    </div>

  <!--Articles on Counseling-->
  <div class="container">

    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">Articles on Counseling</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="assets/img/resources/ccef_logo.webp" alt="" class="rounded pb-3" >
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-start" >Sign up for a weekly email to get new resources on counseling from CCEF. You will receive new blogs, videos, and podcasts in their newsletter.</p>
        <a type="button" class="btn btn-success mt-3" target="_blank" rel="noreferrer noopener" href="https://www.ccef.org/enews-signup" style="font-size: medium; width: 200px;">Sign up</a>
      </div>
    </div>
  </div>
</div>
