<!-- <header class="d-block  d-md-block d-lg-none"> -->

  <!-- <div class="iphone style-1">
    <div [ngClass]="{ 'nav--active': open }"  class="iphone__screen">
      <a href="#" class="nav__trigger" (click)="toggle()"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item dropdown"><a class="nav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>
    </div>
  </div> -->



  <!-- <div class="container container-nav ">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
              <div class="logo">
                  <img src="assets/logo.png" class="logo" alt="">
              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-9 text-end">
              <div class="menu-icon" (click)="openMenu()">
                  <i class="{{menu_icon}}"></i>
              </div>
              <div class="desktop_menu" [class.mobile_menu]="menuValue">
                  <ul>
                      <li [routerLink]="['/about']" (click)="closeMenu()">About Us</li>
                      <li [routerLink]="['/counseling']" (click)="closeMenu()">Counselling</li>
                      <li [routerLink]="['/courses']" (click)="closeMenu()">Courses</li>
                      <li (click)="closeMenu()">Resources</li>
                      <li (click)="closeMenu()">Alumni</li>
                      <li [routerLink]="['/calendar']" (click)="closeMenu()">Calendar</li>
                      <li [routerLink]="['/contact']" (click)="closeMenu()">Contact</li>
                  </ul>
              </div>
          </div>
      </div>
  </div> -->


  <!-- <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Address Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Components</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
            </li>
        </ul>
    </div>
</nav> -->

<!-- </header> -->

<!-- <body class="d-none d-lg-block">
<div class='swanky'>
  <div class='swanky_wrapper'>

    <label>
      <span>Contact Us</span>
    </label>

    <label>
      <span>Calendar</span>
    </label>
    <label>
      <span>Resources</span>
    </label>

    <input id='Participate' name='radio' type='radio'>
    <label for='Participate'>
      <span>Participate</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Donate</li>
          <li>Alumini</li>
          <li>Mentoring</li>
        </ul>
      </div>
    </label>

    <input id='Courses' name='radio' type='radio'>
    <label for='Courses'>
      <span>Courses</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>English Courses</li>
          <li>CCEF-BCTI Courses</li>
          <li>Hindi Courses</li>
        </ul>
      </div>
    </label>

    <input id='Counseling' name='radio' type='radio'>
    <label for='Counseling'>
      <span>Counseling</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Biblical counselling</li>
          <li>Book an apointment</li>
          <li>Coaching Sessions</li>
        </ul>
      </div>
    </label>

    <input id='About' name='radio' type='radio'>
    <label for='About'>
      <span>About Us</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Our Vision</li>
          <li>Our Beliefs</li>
          <li>Our Team</li>
        </ul>
      </div>
    </label>
  </div>
</div>

</body> -->
<nav class="navbar sticky-top navbar-expand-lg " style="background-color: #FFFCF0;">
  <div class="container-fluid mx-1">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-transparent.png" alt="" width="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-md-4 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
            <li><a class="dropdown-item" [routerLink]="['/about']">Our Vision</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/about']">Our Beliefs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/about']">Our Team</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCounseling" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Counseling
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCounseling">
            <li><a class="dropdown-item" [routerLink]="['/counseling']">Biblical counselling</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/counseling']">Book an apointment</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/counseling']">Coaching Sessions</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
            <li><a class="dropdown-item" [routerLink]="['/courses']" fragment="englishCourses">Overview</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/engcourses']" fragment="englishCourses">English Courses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://bcti-ccef.bcti.org.in/">CCEF-BCTI Courses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/courses']">Hindi Courses</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownParticipate" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Alumni
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownParticipate">
            <!-- <li><a class="dropdown-item" [routerLink]="['/alumni']">Donate</a></li>
            <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" [routerLink]="['/alumni']">Alumini</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/alumni']">Mentoring</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" rel="noreferrer noopener" href="https://forthetruth.in/">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
