<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
      <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">परिवर्तन एक दिन में नहीं होता|</h1>
      <h1 class="text-center text-white" style="font-size:53px !important;">बढ़ोतरी एक आजीवन यात्रा है!</h1>
      <!-- <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">These are courses aimed at equipping Christians to help people navigate the challenges and struggles of modern Christian living.</h4> -->
  </div>
</div>

<!--Video Testimony-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
  <div class="row flex-sm-row-reverse" >
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
    <div class="col-md-6 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://player.vimeo.com/video/1039963182?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ps Pradeep's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
    <div class="col-md-6" >
      <h2 class="text-start space" style="color: #7F6A4F;">पास्टर प्रदीप की कहानी</h2>
      <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
</div>
</div>

<!-- New Section-->
<div class="container-fluid" style="background-color: #D2D8BE;">

  <!--How People Change-->
    <div class="container" id="englishCourses">

          <div class="row">
            <h2 class="text-start space" style="color: #7F6A4F;">लोग कैसे बदलते है</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/landing/hpc.webp" alt="" class="rounded pb-3" >
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">English Courses</h2> -->
              <p class="text-start">यह एक बाईबलीय मॉडल है, जो ह्रदय पर आधारित मनुष्य के व्यवहार को संबोधित करता है l इसमें भाग लेने वाले सीखते हैं कि बुनियादी बाईबलीय सच्चाईयों को अपने दैनिक जीवन में कैसे लागू करें, पहचानते है उन क्षेत्रों को जहाँ परिवर्तन की आवश्यकता है और पवित्र आत्मा के संसाधनों को पाकर, परिवर्तन को सर्वप्रथम स्वयं के जीवन में लागू करते है|</p>
                <h6>पाठ्यक्रम हिंदी में ऑनलाइन आयोजित किया जाता है।</h6>
                <button class="btn text-white mt-3" [routerLink]="['/hpchindi']" style="background-color: #6CAB72; font-size: medium; width: 200px;">अधिक जानिए</button>
            </div>
          </div>
    </div>

  <!--Instruments in the Redeemer's Hand-->
    <div class="container">
          <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
            <h2 class="text-start space" style="color: #7F6A4F;">परिवर्तन के उपकरण</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/landing/irh_title.webp" alt="" class="rounded pb-3">
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">CCEF-BCTI Courses</h2> -->
              <p class="text-start">यीशु के समान काउंसल करना सीखें ! इस मॉडल को हम 4 प्रक्रिया में देखते है जो कि ‘प्रेम-जानना-बोलना-करना’ कहलाता है l यहाँ एक व्यक्ति सीखता है कि कैसे ध्यान से सुने, समानुभूति जताए, अच्छे सवाल पूछे और प्रेम से सच्चाई को बोलकर उन लोगों की सहायता करें जो विभिन्न मुद्दों में संघर्ष कर रहे हैं l</p>
              <h6>पाठ्यक्रम हिंदी में ऑनलाइन आयोजित किया जाता है।</h6>
              <a type="button" class="btn text-white mt-3" [routerLink]="['/irhhindi']" style="background-color: #6CAB72; font-size: medium; width: 200px;">अधिक जानिए</a>
            </div>
          </div>
    </div>

  <!--Health and Healing-->
  <div class="container">

    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">स्वास्थ्य और चंगाई</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="assets/img/landing/hnh.webp" alt="" class="rounded pb-3" >
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">Online Courses</h2> -->
        <p class="text-start" >सीखें कि कैसे उन लोगों की सहायता करें जो दुःख उठाना, शोक, मृत्यु, अवसाद, डर, घबराहट, क्रोध, लत, मानसिक स्वास्थ्य इत्यादि समस्याओं से जूझ रहे हो|</p>
        <h6>पाठ्यक्रम हिंदी में ऑनलाइन आयोजित किया जाता है।</h6>
        <a type="button" class="btn text-white mt-3" [routerLink]="['/hnhhindi']" style="background-color: #6CAB72; font-size: medium; width: 200px;">अधिक जानिए</a>
      </div>
    </div>
  </div>

  <!--Marriage and Parenting-->
  <div class="container">
    <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">विवाह और परवरिश</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="assets/img/landing/mnp.webp" alt="" class="rounded pb-3">
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">CCEF-BCTI Courses</h2> -->
        <p class="text-start">विवाह पर एक बाईबलीय समझ और प्रायोगिक पहलू जिसमें संवाद, बुनियादी सम्बन्धात्मक तौर-तरीके, संघर्षों में समाधान इत्यादि सम्मिलित है l इसके साथ ही यह समझ भी कि बिना हेर-फेर करें बच्चों के ह्रदय की चरवाही कैसे करें|</p>
        <h6>पाठ्यक्रम हिंदी में ऑनलाइन आयोजित किया जाता है।</h6>
        <a type="button" class="btn text-white mt-3" [routerLink]="['/mnphindi']" style="background-color: #6CAB72; font-size: medium; width: 200px;">अधिक जानिए</a>
      </div>
    </div>
</div>

</div>
