<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #a98f6e;">
  <div class="container">
      <h4 class="text-center mt-5" style="color: #FFDE82 !important;">AS</h4>
      <h1 class="text-center" style="color: #FFDE82; margin-top: -12px;">IRON</h1>
      <h4 class="text-center" style="color: #FFDE82 !important; margin-top: -12px;">SHARPENS</h4>
      <h1 class="text-center" style="color: #FFDE82; margin-top: -12px;">IRON</h1>
      <h5 class="text-center mt-2" style="color: #FFDE82;">SO ONE PERSON SHAPENS ANOTHER</h5>
      <img src="assets/img/alumni/swords.png" alt="" class="rounded mx-auto d-block">
      <h6 class="text-center text-white mt-4 mb-5" >Proverbs 27:17</h6>
  </div>
</div>

<!-- New Section-->
<div class="container-fluid" style="background-color: #fdfbe6;">
  <!--Alumni Section-->
    <div class="container" id="alumni">

          <div class="row">
            <h2 class="text-start space" style="color: #7F6A4F;">BCTI Alumni</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/alumni/alumni.webp" alt="" class="rounded pb-3" style="margin-left: -12px;">
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">English Courses</h2> -->
              <p class="text-start">Those who have completed either HPC and IRH or DBC and HRE are welcome into our BCTI Alumni!</p>
              <h6>Alumni Iron Sharpening Meetings</h6>
                <p>Our desire in meeting together is to:</p>
                <ul>
                  <li>Sharpen one another, deepening our understanding of biblical counselling.</li>
                  <li>Encourage each other in biblical counselling practice wherever God has placed us.</li>
                </ul>
                <p>We meet once every month over Zoom. Please get in touch if you are interested.</p>
                <a type="button" class="btn btn-success" href="https://wa.me/917982885790" style="font-weight: 500; font-size: medium;"><i class="bi bi-whatsapp" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 79828 85790</a>
            </div>
          </div>

    </div>
</div>
<!-- New Section-->
<div class="container-fluid" id="mentor" style="background-color: #D2D8BE;">
  <!--Mentoring Section-->
    <div class="container">

          <div class="row space">
            <h2 class="text-start space" style="color: #7F6A4F;">Counselor Mentoring Program</h2>
            <div class="col-md-6 spacer">
              <h6>What is BCTI Counselor Mentoring?</h6>
                <ul>
                  <li>The BCTI Counselor Mentoring Program is designed to (help) grow counselors and interested counselors in their understanding as well as practical knowledge of biblical counseling.</li>
                  <li>In this program, the counselor/ interested counselor will be paired with a mentor for a period of 4 months.</li>
                </ul>
            </div>
            <div class="col-md-6">
              <h6 class="mb-1">Who is a mentor?</h6>
                <p>Mentors are part of the BCTI Team and will provide the necessary support required in this process.</p>
              <h6 class="mb-1">Who is a mentee?</h6>
                <p>Mentees are BCTI Alumni who have completed the online courses <em>How People Change</em> and <em>Instrumnent's In The Reddemer's Hands</em> OR The CCEF courses <em>Dynamics of Biblical Change</em> and <em>Helping Relationships</em>. This is for those want to be involved in counseling or who are already involved in counseling, either formal or informal.</p>
              <a type="button" class="btn btn-success mt-3" target="_blank" rel="noreferrer noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSf6HKAvEXWvmEMMvNq8lMc_0SonjG_0S3fYsvPf0WcWQm0R5Q/viewform" style="font-size: medium; width: 200px;">Sign up</a>
            </div>
          </div>
          <p>If you are interested and fit the criteria for a counselor (mentee), we would love to walk alongside you in your journey to learn and grow as a biblical counselor.</p>
          <h6>Please feel free to contact us if you are interested. We will resume from February 2025.</h6>
    </div>
</div>
