<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
      <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">Change doesn't happen overnight.</h1>
      <h1 class="text-center text-white" style="font-size:53px !important;">Growth is a life long journey!</h1>
      <!-- <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">These are courses aimed at equipping Christians to help people navigate the challenges and struggles of modern Christian living.</h4> -->
  </div>
</div>

<!--Video Testimony-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
  <div class="row flex-sm-row-reverse" >
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
    <div class="col-md-6 mb-4">
      <div class="ratio ratio-16x9">
      <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
      </iframe>
    </div>
    </div>
    <div class="col-md-6" >
      <h2 class="text-start space" style="color: #7F6A4F;">Soumya's Story</h2>
      <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <p class="text-start space"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
</div>

<!-- New Section-->
<div class="container-fluid" style="background-color: #D2D8BE;">

  <!--How People Change-->
    <div class="container">

          <div class="row">
            <h2 class="text-start space" style="color: #7F6A4F;">How People Change</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/landing/hpc.webp" alt="" class="rounded pb-3" >
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">English Courses</h2> -->
              <p class="text-start">A Biblical model of human behaviour based on the heart. Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change and access resources of the Spirit to apply the change to their own lives first.</p>
                <h6>Course is conducted online in English.</h6>
                <button class="btn text-white mt-3" [routerLink]="['/hpc']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</button>
            </div>
          </div>
    </div>

  <!--Instruments in the Redeemer's Hand-->
    <div class="container">
          <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
            <h2 class="text-start space" style="color: #7F6A4F;">Instruments in the Redeemer's Hand</h2>
            <div class="col-md-6 spacer">
              <div class="ratio ratio-16x9">
                <img src="assets/img/landing/irh_title.webp" alt="" class="rounded pb-3">
              </div>
            </div>
            <div class="col-md-6">
              <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">CCEF-BCTI Courses</h2> -->
              <p class="text-start">Learn how to counsel the way Jesus did! The model is seen in 4 processes called Love-Know-Speak-Do, where one learns how to listen well, empathize, ask good questions and speaking the truth in love to help those who struggle with various issues.</p>
              <h6>Course is conducted online in English.</h6>
              <a type="button" class="btn text-white mt-3" [routerLink]="['/irh']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
            </div>
          </div>
    </div>

  <!--Health and Healing-->
  <div class="container">

    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">Health and Healing</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="assets/img/landing/hnh.webp" alt="" class="rounded pb-3" >
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">Online Courses</h2> -->
        <p class="text-start" >Learn the Biblical perspective on suffering by understanding death, grieving, depression, fear, addictions, anxiety, anger, etc. Participants will be taught to address and identify root causes for sufferings.</p>
        <h6>Course is conducted online in English.</h6>
        <a type="button" class="btn text-white mt-3" [routerLink]="['/hnh']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
      </div>
    </div>
  </div>

  <!--Marriage and Parenting-->
  <div class="container">
    <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
      <h2 class="text-start space" style="color: #7F6A4F;">Marriage and Parenting</h2>
      <div class="col-md-6 spacer">
        <div class="ratio ratio-16x9">
          <img src="assets/img/landing/mnp.webp" alt="" class="rounded pb-3">
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h2 class="text-start spacer" style="color: #7F6A4F;">CCEF-BCTI Courses</h2> -->
        <p class="text-start">A biblical understanding and practical aspects of marriage including communication, relational trends, conflict management etc as well understanding how to shepherd your children's hearts instead of manipulating them!</p>
        <h6>Course is conducted online in English.</h6>
        <a type="button" class="btn text-white mt-3" [routerLink]="['/mnp']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
      </div>
    </div>
</div>

</div>
