<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #7F6A4F; background-image: url('assets/img/irh/irh_banner_3.webp'); background-repeat: no-repeat; background-position: bottom; height: 65vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">परिवर्तन के उपकरण</h1>
        <h4 class="text-center hindi mt-4 mb-5" style="font-weight: 400 !important;">परमेश्वर के हाथों में उपयोगी बने!<br>यह कोर्स आपको परमेश्वर के हाथ में परिवर्तन का उपकरण बनने के लिए तैयार करेगा।</h4>
    </div>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #7F6A4F; background-image: url('assets/img/irh/irh_banner_3.webp'); background-repeat: no-repeat; background-position: bottom; height: 40vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">परिवर्तन के उपकरण</h1>
        <h4 class="text-center hindi mt-4 mb-5" style="font-weight: 400 !important;">परमेश्वर के हाथों में उपयोगी बने!<br>यह कोर्स आपको परमेश्वर के हाथ में परिवर्तन का उपकरण बनने के लिए तैयार करेगा।</h4>
    </div>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #7F6A4F; background-image: url('assets/img/irh/irh_banner_3.webp'); background-repeat: no-repeat; background-position: center; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:75px !important;">परिवर्तन के उपकरण</h1>
        <h2 class="text-center hindi mt-5 mb-5" style="font-weight: 400 !important;">परमेश्वर के हाथों में उपयोगी बने!<br>यह कोर्स आपको परमेश्वर के हाथ में परिवर्तन का उपकरण बनने के लिए तैयार करेगा।</h2>
    </div>
  </div>
</div>
<!-- Ribbon   -->
<!-- <div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container py-5">
    <h2 class="text-center" style="color: #FFDE82; font-weight: 500 !important;">Are you tired of struggling to understand others?</h2>
  </div>
</div> -->

<!--Video Testimony-->
<div class="container-fluid" style="background-color: #fdfbe6;">
  <div class="container">
    <div class="row" >
        <div class="col-md-6 mb-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/1039963299?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Nidish's Testimony"></iframe>
        </div>
        </div>
        <div class="col-md-6" >
          <h2 class="text-start space hindi" style="color: #7F6A4F;">निदिश की गवाही</h2>
          <p class="text-start hindi">निधिश ने BCTI में प्रशिक्षक के रूप में अपनी प्रतिक्रिया साझा की। उन्होंने BCTI द्वारा पेश किए गए पाठ्यक्रमों के माध्यम से पादरी और नेताओं को प्रभावी ढंग से परामर्श और सेवा करना सीखते देखा है।</p>
        </div>
    </div>
  </div>
</div>

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center hindi"><span style="color: #FFDE82;">परिवर्तन के उपकरण</span> आपकी मदद करेगा</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <i class="bi bi-chat-heart text-center" style="font-size: 5.5rem; color: #4b2418;"></i>
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center hindi">लोगों तक <strong style="color: #FFDE82;">पहुँचने</strong> और <strong style="color: #FFDE82;">सुनने</strong> में|<br>प्रेम में बोलना सीखें|</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center hindi">मानुषिक व्यवहार के<br><strong style="color: #FFDE82;">बाईबलीय</strong> दृष्टिकोण को समझना|</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center hindi"><strong style="color: #FFDE82;">पवित्रशास्त्र</strong> को<br>दैनिक जीवन के साथ जोड़ना|</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#fdfbe6;">
  <div class="container mx-auto" style="background-color:#D2D8BE; border-radius: 12px;">
                <div class="row text-dark mx-3" >
                  <h2 class="hindi text-start mb-5" style="color: #7F6A4F;">आने वाले बैच</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h4 class="mb-3 hindi">बैच {{ i+1 }}</h4>
                                <div class="row">
                                  <div class="col-6">
                                    <h5 class="hindi">प्रारंभ दिनांक</h5>
                                    <p class="hindi" style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5 class="hindi">समय</h5>
                                    <p class="hindi" style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                          <!-- <div class="col-md-6">
                            <h6>Contact</h6>
                            <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                            <h5 class="text-start" style="font-weight: 700;">Renold George</h5>
                            <a type="button" class="btn text-dark" href="tel:+919035697380" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90356 97380</a>
                          </div> -->

                        <!-- </div>
                    </div> -->
                </div>
                <div class="row mx-3">
                    <!-- <div class="col-md-8"> -->

                      <!-- <div class="row mt-4"> -->
                        <div class="col-md-4 justify-content-center">
                          <h4 class="hindi text-start mt-4">कीमत</h4>
                          <h5 class="mt-3 hindi">Rs. 500/- प्रति सीट</h5>
                          <h6 class="mt-4 hindi" style="font-size: 0.8rem !important;">* तारीखें परिवर्तन के अधीन हैं|</h6>
                        </div>
                        <div class="col-md-4">
                          <h4 class="text-start mt-4 hindi">संपर्क करें</h4>
                          <h5 class="mt-3 hindi">शिजू जॉन</h5>
                          <a type="button" class="btn btn-success" href="https://wa.me/919910913007" style="font-weight: 500; font-size: medium;"><i class="bi bi-whatsapp me-2"></i>+91 99109 1300</a>
                          <!-- <a type="button" class="btn btn-success hindi" href="tel:+919910913007" style="font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99109 13007</a> -->
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4 mb-md-1" style="align-self: end;">
                          <h5 class="hindi text-start">पंजीकरण करने के लिए नीचे क्लिक करें</h5>
                          <a type="button" class="btn btn-success hindi" target="_blank" rel="noreferrer noopener" href="https://forms.gle/WZ7KWEW2MNpKrwJP8" style="font-size: medium; width: 200px;">पंजीकरण करें</a>
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>

  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #a98f6e;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4" style="font-weight: 700;">जिन्होंने कोर्स किया है उनसे सुने</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_irh_hindi d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #f7ecd4;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“इस कोर्स ने काउन्सलिंग के सम्बन्ध में एक ढांचा और बाईबलीय दृष्टिकोण दिया है। मुझे अपने आप को वचन से भरना है जिससे मैं परमेश्वर के वचन के आधार पर अर्थ निकाल सकूं और काउंसल कर सकूं। काउन्सलिंग मैं मुझे कल्पना नहीं करना है पर अच्छे सवालों को पूछना है।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>महिला प्रतिभागी</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#fff6e6;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“जब हम हर दिन समर्पित और मसीह के राजदूत बनने को उपलब्ध होते है तो पवित्र आत्मा का कार्य सुन्दर और समझ से परे होता है। इस जागरूकता ने पवित्र आत्मा के साथ के मेरे चलने को और भी आनंदमय बना दिया है! उपकरण बनने की इच्छा ने मेरी संवेदनशीलता और परमेश्वर पर मेरी निर्भरता को और भी बढ़ा दिया है। इस कोर्स के लिए परमेश्वर की स्तुति हो!”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>महिला समाज सेविका</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“मैं यह देख पाई कि एक काउंसलर के लिए व्यक्तिगत तैयारी कितना जरूरी है – मेरी कार्यसूची या इच्छा को लाना नहीं लेकिन परमेश्वर के उपकरण बनकर उसके वचन, उसकी योजना और इच्छा को दूसरों के जीवन में लाना है। मुझे परमेश्वर की सहायता से अच्छी तैयारी करना है ताकि मैं सांत्वना देने के लिए गलत बातों ना बोलूं ना ही ऐसा कुछ जो वचन पर आधारित ना हो!”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>पासवान की पत्नी</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
