  <!-- Banner   -->
  <div class="page-header container-fluid" style="background-color: #777E5C;">

    <div class="container">
        <h1 class="text-center">The Struggle Is Real</h1>
        <h1 class="text-center" style="color: #FFDE82;">But So Is God</h1>
        <h6 class="text-center mx-auto" style="max-width: 650px;">We equip disciples to tackle modern challenges, fostering purpose, mental health, and Christian living. Discover how BCTI's offerings can best support your current needs.</h6>
        <!-- Cards -->
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          <div class="col d-flex justify-content-center">
            <div class="card card_header">
              <h1 class="text-center pt-2" style="font-size:8em; color: #b12515;"><i class="bi bi-heart-pulse-fill"></i></h1>
              <div class="card-body">
                <h5 class="card-title text-center">I am here for<br><h4 style="font-weight: bold;">Counseling</h4></h5>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card card_header">
              <h1 class="text-center pt-2" style="font-size:8em; color: #6CAB72;"><i class="bi bi-gear-fill"></i></h1>
              <div class="card-body">
                <h5 class="card-title text-center">I am here for<br><h4 style="font-weight: bold;">Training</h4></h5>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card card_header">
              <h1 class="text-center pt-2" style="font-size:8em; color: #1a74cd;"><i class="bi bi-person-workspace"></i></h1>
              <div class="card-body">
                <h5 class="card-title text-center">I am here for<br><h4 style="font-weight: bold;">Courses</h4></h5>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!--Mission Section-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
  <div class="row flex-sm-row-reverse" >
    <h2 class="text-start space" style="color: #7F6A4F;">Our Mission</h2>
    <div class="col-md-6 mb-4">
      <div class="ratio ratio-16x9">
      <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
      </iframe>
    </div>
    </div>
    <div class="col-md-6">

      <p class="text-start" style="font-weight: 500;">We are living in troubled times and the journey we are going through, is often unkind.</p>
      <p class="text-start space" style="font-weight: 500;">It is God’s desire that we discover the power of His comfort, healing and restoration in the shelter of genuine, authentic and caring relationships.</p>
      <a type="button" class="btn text-white" href="#" style="font-weight: 700; background-color: #6CAB72; font-size: medium;">Explore Our Mission</a>
    </div>
  </div>
</div>
</div>
<!-- Text Tewstimonies Slider-->
 <div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <h2 class="text-center space" style="color: #7F6A4F;">Hear From Our Students</h2>
  <!-- <div class="row"> -->
    <!-- <div class="col-12 mx-auto"> -->
      <div class="text_testimony">
        <div class="position-relative ">
        <div data-glide-el="controls">
          <button class="position-absolute" style="background-color: transparent; border: 0px; left: 10%; top: 9em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-circle"></i></h2></button>
          <button class="position-absolute" style="background-color: transparent; border: 0px; right: 10%; top: 9em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-circle"></i></h2></button>
        </div>
      </div>
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="container card text-center">
                <img src="assets/img/landing/testimony_pic.png" class="card-img-top mx-auto mt-4" alt="..." style="width: 105px;">
                <div class="card-body mx-auto">
                  <!-- <h5 class="card-title">Testimony 2</h5> -->
                  <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <p class="card-text"><small class="text-muted">John Doe</small></p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="container card text-center">
                <img src="assets/img/landing/testimony_pic.png" class="card-img-top mx-auto mt-4" alt="..." style="width: 105px;">
                <div class="card-body mx-auto">
                  <!-- <h5 class="card-title">Testimony 2</h5> -->
                  <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <p class="card-text"><small class="text-muted">Martin Smith</small></p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="container card text-center">
                <img src="assets/img/landing/testimony_pic.png" class="card-img-top mx-auto mt-4" alt="..." style="width: 105px;">
                <div class="card-body mx-auto">
                  <!-- <h5 class="card-title">Testimony 2</h5> -->
                  <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <p class="card-text"><small class="text-muted">Emily Jones</small></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <!-- </div> -->

  <!-- </div> -->
  </div>
 </div>
<!-- New Section-->
<div class="container-fluid" style="background-color: #FFFCF0;">

    <!--Counselling-->
      <div class="container">

            <div class="row">
              <h2 class="text-start space" style="color: #7F6A4F;">Counselling</h2>
              <div class="col-md-6">

                <div class="Counseling">
                  <div class="position-relative ">
                  <div data-glide-el="controls">
                    <button class="position-absolute" style="background-color: transparent; border: 0px; left: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-short"></i></h2></button>
                    <button class="position-absolute" style="background-color: transparent; border: 0px; right: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-short"></i></h2></button>
                  </div>
                </div>
                  <div data-glide-el="track" class="glide__track">
                    <ul class="glide__slides">
                      <li class="glide__slide">
                        <div class="ratio ratio-16x9">
                          <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                        </div>
                      </li>
                      <li class="glide__slide">
                          <div class="ratio ratio-16x9">
                            <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                          </div>
                      </li>
                      <li class="glide__slide">
                          <div class="ratio ratio-16x9">
                            <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
              <div class="col-md-6"  style="align-content: center;">
                <p class="text-start" style="font-weight: 500;">Feeling worn out, confused, burnt out, or just plain tired? We're here for you. Come share your story with us, and we will offer you a nurturing environment where you can share your concerns and struggles. In addition, we provide guidance and truth rooted in love to help you navigate through life's challenges and find clarity and relief.</p>
                <a type="button" class="btn text-white mt-3" href="#" style="font-weight: 700; background-color: #6CAB72; font-size: medium;">Know More</a>
              </div>
            </div>
      </div>

    <!--Training-->
      <div class="container">
            <div class="row flex-sm-row-reverse" style="margin-top: -50px;">
              <h2 class="text-md-end space" style="color: #7F6A4F;">Training</h2>
              <div class="col-md-6">

                <div class="Training">
                  <div class="position-relative ">
                  <div data-glide-el="controls">
                    <button class="position-absolute" style="background-color: transparent; border: 0px; left: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-short"></i></h2></button>
                    <button class="position-absolute" style="background-color: transparent; border: 0px; right: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-short"></i></h2></button>
                  </div>
                </div>
                  <div data-glide-el="track" class="glide__track">
                    <ul class="glide__slides">
                      <li class="glide__slide">
                        <div class="ratio ratio-16x9">
                          <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                        </div>
                      </li>
                      <li class="glide__slide">
                          <div class="ratio ratio-16x9">
                            <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                          </div>
                      </li>
                      <li class="glide__slide">
                          <div class="ratio ratio-16x9">
                            <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>


              </div>
              <div class="col-md-6"  style="align-content: center;">
                <p class="text-start" style="font-weight: 500;">Enhance your skills with our specialised courses in English and Hindi. Whether you're a layperson seeking personal growth, a church leader, or a pastor, our training programs are tailored to equip you with practical tools and knowledge. We focus on providing comprehensive instruction to help you apply Biblical principles in real-life situations and make a meaningful impact in your community.</p>
                <a type="button" class="btn text-white mt-3" href="#" style="font-weight: 700; background-color: #6CAB72; font-size: medium;">Know More</a>
              </div>
            </div>
      </div>

    <!--Online Courses-->
    <div class="container">

      <div class="row" style="margin-top: -50px;">
        <h2 class="text-start space" style="color: #7F6A4F;">Online Courses</h2>
        <div class="col-md-6">

          <div class="Courses">
            <div class="position-relative ">
            <div data-glide-el="controls">
              <button class="position-absolute" style="background-color: transparent; border: 0px; left: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-short"></i></h2></button>
              <button class="position-absolute" style="background-color: transparent; border: 0px; right: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-short"></i></h2></button>
            </div>
          </div>
            <div data-glide-el="track" class="glide__track">
              <ul class="glide__slides">
                <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                  </div>
                </li>
                <li class="glide__slide">
                    <div class="ratio ratio-16x9">
                      <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="ratio ratio-16x9">
                      <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                    </div>
                </li>
              </ul>
            </div>
          </div>


        </div>
        <div class="col-md-6" style="align-content: center;">
          <p class="text-start" style="font-weight: 500;">Access flexible, in-depth learning from anywhere in India with our online classes, available in both English and Hindi. With access to high-quality content and interactive learning materials, you can develop your counselling skills with our online classes. Take advantage of this opportunity to grow and enhance your ability to counsel others with confidence and competence.</p>
          <a type="button" class="btn text-white mt-3" href="#" style="font-weight: 700; background-color: #6CAB72; font-size: medium;">Know More</a>
        </div>
      </div>
    </div>
</div>
<!-- Ribbon   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
    <h1 class="text-center">Empowering Churches - Empowering Communities</h1>
    <div class="row mx-auto">
      <div class="col-md-4 pt-5 text-center">
        <h2>19 Years</h2>
        <h4 style="margin-top: -0.5em;">Experience</h4>
      </div>
      <div class="col-md-4 pt-5 text-center">
        <h2>19+</h2>
        <h4 style="margin-top: -0.5em;">Cities</h4>
      </div>
      <div class="col-md-4 pt-5 text-center">
        <h2>3000+</h2>
        <h4 style="margin-top: -0.5em;">Participants</h4>
      </div>
    </div>
  </div>
</div>
<!--Upcoming Events-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">Upcoming Events</h2>
    <!-- <div class="row mx-auto d-grid gap-3">
      <div class="col-md-4">
        <div class="ratio ratio-16x9">
          <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
        </div>
        <h6>Oct 2, 2024<br>5 PM</h6>
        <p>Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
      </div>
      <div class="col-md-4">
        <div class="ratio ratio-16x9">
          <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
        </div>
      </div>
      <div class="col-md-4">
        <div class="ratio ratio-16x9">
          <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
        </div>
      </div>
  </div> -->
  <!--Row Cols-->
  <div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
      <div class="card" style="background-color: transparent; border: none;">
        <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
        <div class="mt-4">
          <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
          <p class="card-text">Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: transparent; border: none;">
        <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
        <div class="mt-4">
          <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
          <p class="card-text">Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: transparent; border: none;">
        <img src="https://placehold.co/600x400" class="card-img-top rounded" alt="...">
        <div class="mt-4">
          <h6 class="card-title">Oct 2, 2024<br>5 PM</h6>
          <p class="card-text">Participants will learn to apply fundamental Biblical truths to their own daily lives, identify areas where they need to change.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--Frequently Asked Questions-->
<div class="container-fluid" style="background-color: #FFFCF0; margin-top: -3em;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">Frequently Asked Questions</h2>

    <div class="accordion" id="faq">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" style="background-color:#777E5C;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong class="text-white">Q. What is Biblical Counselling?</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faq">
          <div class="accordion-body" style="background-color: #D2D8BE;">
            <p>Biblical counselling is grounded in a Scriptural understanding of human behaviour, focusing on the heart from which flows the issues of life (Proverbs 4:23). </p>
            <p>A Biblical counsellor, a fellow believer in Christ, stands by you to address your life struggles, always involving the Triune God of the Bible in the solutions.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" style="background-color:#777E5C;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong class="text-white">Q.  How is it different from psychological counselling?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faq">
          <div class="accordion-body" style="background-color: #D2D8BE;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" style="background-color:#777E5C;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong class="text-white">Q. Why Pre-Marital Counselling?</strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faq">
          <div class="accordion-body" style="background-color: #D2D8BE;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
