<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #fff3cd; background-image: url('assets/img/hpc/hpc_banner_1.webp'); background-repeat: no-repeat; background-position: bottom; height: 60vh; align-content: baseline; background-size: contain;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">How People Change</h1>
        <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">This course helps you consider your circumstances and your responses by examining your heart's desire and turning to Christ.</h4>
    </div>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #fff3cd; background-image: url('assets/img/hpc/hpc_banner_1.webp'); background-repeat: no-repeat; background-position: bottom; height: 50vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">How People Change</h1>
        <h4 class="text-center mt-4 mb-5" style="font-weight: 400 !important;">This course helps you consider your circumstances and your responses by examining your heart's desire and turning to Christ.</h4>
    </div>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #fff3cd; background-image: url('assets/img/hpc/hpc_banner_1.webp'); background-repeat: no-repeat; background-position: center; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center mt-5" style="color: #FFDE82; font-size:75px !important;">How People Change</h1>
        <h2 class="text-center mt-5 mb-5" style="font-weight: 400 !important;">This course helps you consider your circumstances and your responses by examining your heart's desire and turning to Christ.</h2>
    </div>
  </div>
</div>
<!-- Ribbon   -->
<!-- <div class="page-header container-fluid" style="background-color: #a77a4c; margin-top: -10px;">
  <div class="container" style="padding-top: 10px !important;">
    <h2 class="text-center">Are you tired of struggling with anger against your loved ones?</h2>
  </div>
</div> -->

<!--Video Testimony-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
  <div class="row" >
      <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/1039962732?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Anu's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
      </div>
      <div class="col-md-6" >
        <h2 class="text-start space" style="color: #7F6A4F;">Anu's Story</h2>
        <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
  </div>
  </div>
</div> -->

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center">The <span style="color: #FFDE82;">How People Change</span> course will help you to</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/ai.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">Identify and address root causes for these struggles</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">Understand the Biblical view on Human behaviour</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12" style="margin-top: -6px !important;">
              <p class="text-white text-center">Connect Scripture with day-to-day life</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#FFFCF0;">
  <div class="container mx-auto" style="background-color:#D2D8BE; border-radius: 12px;">
                <div class="row text-dark mx-3" >
                  <h2 class=" text-dark text-start mb-5">Upcoming Batches</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h6 class="mb-3">Batch {{ i+1 }}</h6>
                                <div class="row">
                                  <div class="col-6">
                                    <h5>Start Date</h5>
                                    <p style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5>Time</h5>
                                    <p style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                          <!-- <div class="col-md-6">
                            <h6>Contact</h6>
                            <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                            <h5 class="text-start" style="font-weight: 700;">Renold George</h5>
                            <a type="button" class="btn text-dark" href="tel:+919035697380" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90356 97380</a>
                          </div> -->

                        <!-- </div>
                    </div> -->
                </div>
                <div class="row mx-3">
                    <!-- <div class="col-md-8"> -->

                      <!-- <div class="row mt-4"> -->
                        <div class="col-md-4 justify-content-center">
                          <h4 class="title text-dark text-start mt-4">Cost</h4>
                          <h5 class="mt-3">Rs. 2,500/- per seat</h5>
                        </div>
                        <div class="col-md-4">
                          <h4 class="title text-dark text-start mt-4">Contact</h4>
                          <span class="mt-3" style="font-weight: 700;">Nidish Philip</span>
                          <a type="button" class="btn btn-outline-dark ms-3" href="tel:+919968751330" style="font-weight: 700;font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99687 51330</a>
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4" style="align-self: end;">
                          <h5 class="title text-dark text-start mt-4">Click below to register</h5>
                          <a type="button" class="btn btn-success" target="_blank" rel="noreferrer noopener" href="https://forms.gle/EWSxwgqfC1jnC8bC7" style="font-size: medium; width: 200px;">Register Now</a>
                          <!-- <a type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/EWSxwgqfC1jnC8bC7" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>
              <h6 class="mx-3 mt-5" style="font-size: 0.8rem !important;">* Dates are subject to change.</h6>
  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #B09C82;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4" style="font-weight: 700;">Hear From Our Previous Participants</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_hpc d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #89A8B2;">
                    <div class="card-body text-start">
                      <p class="card-text text-white my-3 mx-md-2">“This course deeply impacted me by shifting my perspective on my relationship with God and revealing idol worship in my life. Unlike individualistic counselling and psychological help, it guided me to recognize my heart as the true source of issues, helping me connect with God in transformative and meaningful ways.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#B3C8CF;">
                    <div class="card-body text-start">
                      <p class="card-text text-muted my-3 mx-md-2">“As a professor, I kept hearing the importance of listening. I joined to change my kids but discovered I needed to change myself! The highlight was the course's format—no sermons, just discussions and questions—making it engaging and interactive.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text text-muted my-3 mx-md-2">“I need to view trials through the bigger picture, keeping Christ central in my heart. A deep relationship with Him enables me to respond to struggles with grace, helping others see themselves and the world through a biblical perspective, and fostering fruitful responses in even the toughest situations.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center;  background-color: lightgray;">
                    <div class="card-body text-start">
                      <p class="card-text text-muted my-3 mx-md-2">“Through God's power, change is possible for Christians, transforming us into fruit-bearing trees. As a new creation in Christ, I must abandon old ways, focus on my heart instead of circumstances, and rely on God's grace to respond in a godly manner to life's challenges.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#89A8B2;">
                    <div class="card-body text-start">
                      <p class="card-text text-white my-3 mx-md-2">“I learned that change starts with me, and instead of changing my situation, I must concentrate on changing my response towards the problem. God will help me through this process....completion of this process is possible through His Grace and Mercy.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center;background-color: #B3C8CF;">
                    <div class="card-body text-start">
                      <p class="card-text text-muted my-3 mx-md-2">“Before this course, I had moved to a new place, feeling unprepared and questioning God’s purpose for bringing me there. Like the Israelites, I grumbled and let bitterness harden my heart. Through the lessons, God revealed my thorny responses, showing me His transformative work and drawing me closer to Him.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center;  background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text text-muted my-3 mx-md-2">“This course was God-appointed during a very difficult time in my life. I experienced His love and forgiveness, realising my struggle with being unable to worship and the idols in my heart. It was liberating to seek forgiveness, gain clarity, and now enjoy freedom and deeper connections with God and others.”</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
