<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">Marriage and Parenting</h1>
        <h4 class="text-center text-white mt-4 mb-5" style="font-weight: 400 !important;">Biblical foundations for a good relationship- is based on love and grace and marriage is the subset of relationships as a whole.</h4>
    </div>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 50vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center mt-5" style="color: #FFDE82; font-size:53px !important;">Marriage and Parenting</h1>
        <h4 class="text-center text-white mt-4 mb-5" style="font-weight: 400 !important;">Biblical foundations for a good relationship- is based on love and grace and marriage is the subset of relationships as a whole.</h4>
    </div>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #777E5C; background-image: url('assets/img/mnp/mnp_banner.webp'); background-repeat: no-repeat; background-position: center; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center mt-5" style="color: #FFDE82; font-size:75px !important;">Marriage and Parenting</h1>
        <h2 class="text-center text-white mt-5 mb-5" style="font-weight: 400 !important;">Biblical foundations for a good relationship- is based on love and grace and marriage is the subset of relationships as a whole.</h2>
    </div>
  </div>
</div>
<!-- Ribbon   -->
<!-- <div class="page-header container-fluid" style="background-color: #D2D8BE; margin-top: -10px;">
  <div class="container">
    <h2 class="text-center" style="color: #7F6A4F;">Are you struggling to understand Marriage & Parenting?</h2>
  </div>
</div> -->

<!--Video Testimony-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" >
        <div class="col-md-6 mb-4">
          <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div>
        </div>
        <div class="col-md-6" >
          <h2 class="text-start space" style="color: #7F6A4F;">Anu's Story</h2>
          <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
  </div>
</div> -->

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center">The <span style="color: #FFDE82;">Marriage and Parenting</span> course will help you to</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">`
            <div class=" col-12 dot">
              <i class="bi bi-chat-heart text-center" style="font-size: 5.5rem; color: #4b2418;"></i>
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">Learn the true meaning of <strong style="color: #FFDE82;">Relationship</strong><br>Listen and Speak <strong style="color: #FFDE82;">in Love</strong></p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">`
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">Understand the <strong style="color: #FFDE82;">Biblical</strong> view<br>on Marriage and Parenting</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">`
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center">Connect <strong style="color: #FFDE82;">Scripture</strong><br>with day-to-day life</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#fdfbe6;">
  <div class="container mx-auto" style="background-color:#D2D8BE; border-radius: 12px;">
                <div class="row text-dark mx-3" >
                  <h2 class="text-start mb-5" style="color: #7F6A4F;">Upcoming Batches</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h4 class="mb-3">Batch {{ i+1 }}</h4>
                                <div class="row">
                                  <div class="col-6">
                                    <h5>Start Date</h5>
                                    <p style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5>Time</h5>
                                    <p style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                </div>
                <div class="row mx-3">
                        <div class="col-md-4 justify-content-center">
                          <h4 class="text-start mt-4">Cost</h4>
                          <h5 class="mt-3">Rs. 2,500/- per seat</h5>
                          <h6 class="mt-4" style="font-size: 0.8rem !important;">* Dates are subject to change.</h6>
                        </div>
                        <div class="col-md-4">
                          <h4 class="text-start mt-4">Contact</h4>
                          <h5 class="mt-3">Nidish Philip</h5>
                          <a type="button" class="btn btn-success" href="https://wa.me/917982885790" style="font-weight: 500; font-size: medium;"><i class="bi bi-whatsapp me-2"></i>+91 79828 85790</a>
                          <!-- <a type="button" class="btn btn-success" href="tel:+919968751330" style="font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99687 51330</a> -->
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4" style="align-self: end;">
                          <h5 class="text-start mt-3">Click below to register</h5>
                          <a type="button" class="btn btn-success" target="_blank" rel="noreferrer noopener" href="https://forms.gle/WYxnZG9wATQviBPBA" style="font-size: medium; width: 200px;">Register Now</a>
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>

  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #a98f6e;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4" style="font-weight: 700;">Hear From Those Who’ve Done The Course</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_mnp d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #f7ecd4;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2">“It was a joy to be part of this module. I went through the course material along with my husband which created mutual accountability. Now we have become aware of our idols and understand where we went wrong and practice confession. I have now stopped manipulating behavior. I thoroughly enjoyed attending all the chapters in this module.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2" style="font-size: 0.9rem;">
                        <strong>FEMALE MEDICAL PROFESSIONAL</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#fff6e6;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2">“A few years into marriage, I deeply desired Christian marriage counselling. My husband and I come from similar church denominations, but different cultural backgrounds and were so different. I learned that differences are ordained by God. I also discovered the importance of love and grace in relationships. In the past, I also used to think that I am always right but God has been changing that thinking of mine and the Holy spirit is working in my heart.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2" style="font-size: 0.9rem;">
                        <strong>FEMALE MISSIONARY</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2">“I was practising the cultural norms of respect but still my husband felt disrespected, and I couldn’t understand why. I even read a book titled “Love and Respect”, listened to preachers but still couldn’t understand it. But God opened my blind eyes as I went through this course. It beautifully equipped me to express respect. Now after learning from this Course, I give Respect to my husband and he feels so satisfied, comfortable and we have no more struggles.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2" style="font-size: 0.9rem;">
                        <strong>FEMALE WOMAN'S MINISTER</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:lightgray;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2">“In this course, I realised that often I am reminded of the offences that people did to me. This course really blessed my heart and helped me to cultivate the habit of forgiveness and release forgiveness each time I am sinned against whether it is my family or friends or anyone else. In this process, I was also able to identify the idols of my heart in different situations.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2" style="font-size: 0.9rem;">
                        <strong>FEMALE CHURCH COUNSELOR</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
