<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #777E5C; background-image: url('assets/img/hnh/hnh_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">स्वास्थ्य और चंगाई</h1>
        <h4 class="text-center hindi text-white mt-4 mb-5" style="font-weight: 400 !important;">सीखें कि कैसे उन लोगों की सहायता करें जो दुःख उठाना, शोक, मृत्यु, अवसाद, डर, घबराहट, क्रोध, लत, मानसिक स्वास्थ्य इत्यादि समस्याओं से जूझ रहे हो|</h4>
    </div>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #777E5C; background-image: url('assets/img/hnh/hnh_banner.webp'); background-repeat: no-repeat; background-position: bottom; height: 40vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">स्वास्थ्य और चंगाई</h1>
        <h4 class="text-center hindi text-white mt-4 mb-5" style="font-weight: 400 !important;">सीखें कि कैसे उन लोगों की सहायता करें जो दुःख उठाना, शोक, मृत्यु, अवसाद, डर, घबराहट, क्रोध, लत, मानसिक स्वास्थ्य इत्यादि समस्याओं से जूझ रहे हो|</h4>
    </div>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #777E5C; background-image: url('assets/img/hnh/hnh_banner.webp'); background-repeat: no-repeat; background-position: center; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:75px !important;">स्वास्थ्य और चंगाई</h1>
        <h2 class="text-center hindi text-white mt-5 mb-5" style="font-weight: 400 !important;">सीखें कि कैसे उन लोगों की सहायता करें जो दुःख उठाना, शोक, मृत्यु, अवसाद, डर, घबराहट, क्रोध, लत, मानसिक स्वास्थ्य इत्यादि समस्याओं से जूझ रहे हो|</h2>
    </div>
  </div>
</div>
<!-- Ribbon   -->
<!-- <div class="page-header container-fluid" style="background-color: #D2D8BE; margin-top: -10px;">
  <div class="container">
    <h2 class="text-center" style="color: #7F6A4F">Are you tired of struggling with anger against your loved ones?</h2>
  </div>
</div> -->

<!--Video Testimony-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" >
        <div class="col-md-6 mb-4">
          <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div>
        </div>
        <div class="col-md-6" >
          <h2 class="text-start space" style="color: #7F6A4F;">Shiny's Story</h2>
          <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
  </div>
</div> -->

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center hindi"><span style="color: #FFDE82;">स्वास्थ्य और चंगाई</span> कोर्स आपकी सहायता करेगा</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/ai.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center hindi">दुखों के मूल कारणों को<br><strong style="color: #FFDE82;">पहचानें</strong> और <strong style="color: #FFDE82;">संबोधित</strong> करें</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white text-center hindi">क्रोध, व्यसन, हानि और मृत्यु के<br><strong style="color: #FFDE82;">बाईबलीय</strong> दृष्टिकोण को समझें</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12" style="margin-top: -6px !important;">
              <p class="text-white text-center hindi">मानसिक बीमारी के बारे में<br><strong style="color: #FFDE82;">बाइबल की समझ</strong> रखें</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#fdfbe6;">
  <div class="container mx-auto" style="background-color:#D2D8BE; border-radius: 12px;">
                <div class="row text-dark mx-3" >
                  <h2 class="mb-5 hindi" style="color: #7F6A4F;">आने वाले बैच</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h4 class="mb-3 hindi">बैच {{ i+1 }}</h4>
                                <div class="row">
                                  <div class="col-6">
                                    <h5 class="hindi">प्रारंभ दिनांक</h5>
                                    <p class="hindi" style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5 class="hindi">समय</h5>
                                    <p class="hindi" style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                </div>
                <div class="row mx-3">
                        <div class="col-md-4 justify-content-center">
                          <h4 class="text-start mt-4 hindi">कीमत</h4>
                          <h5 class="mt-3 hindi">Rs. 500/- प्रति सीट</h5>
                          <h6 class="mt-4 hindi" style="font-size: 0.8rem !important;">* तारीखें परिवर्तन के अधीन हैं|</h6>
                        </div>
                        <div class="col-md-4">
                          <h4 class="text-start hindi mt-4">संपर्क करें</h4>
                          <h5 class="mt-3 hindi">शिजू जॉन</h5>
                          <a type="button" class="btn btn-success" href="https://wa.me/919910913007" style="font-weight: 500; font-size: medium;"><i class="bi bi-whatsapp me-2"></i>+91 99109 1300</a>
                          <!-- <a type="button" class="btn btn-success hindi" href="tel:+919910913007" style="font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99109 13007</a> -->
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4 mb-md-1" style="align-self: end;">
                          <h5 class="text-start hindi">पंजीकरण करने के लिए नीचे क्लिक करें</h5>
                          <a type="button" class="btn btn-success hindi" target="_blank" rel="noreferrer noopener" href="https://forms.gle/PVxkBUB9DaYTAMvc7" style="font-size: medium; width: 200px;">पंजीकरण करें</a>
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>

  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #a98f6e;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4 hindi" style="font-weight: 700;">जिन्होंने कोर्स किया है उनसे सुने</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_hnh_hindi d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #f7ecd4;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2 hindi">“इस कोर्स को करने से पहले, मैं नशे की लत से जूझ रहे लोगों को परामर्श देते समय अधीर हो जाता था। नशे की लत पर पाठ मेरी आंखें खोलने वाला था, क्योंकि कोर्स के दौरान मुझे पता चला कि मैं समाचार पढ़ने की लत से जूझ रहा था और परामर्श के बाद मैं इस पर काबू पाने में भी सक्षम था।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>पास्टर</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#fff6e6;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2 hindi">“अवसाद और आध्यात्मिक युद्ध का विषय तब काम आया जब मुझे अवसाद से जूझ रहे और आध्यात्मिक युद्ध से गुज़र रहे एक व्यक्ति को परामर्श देना था। हर विषय मेरे लिए नई चीज़ें सीखने के लिए खास तौर पर बनाया गया था। इस कोर्स ने मुझे अपनी प्रतिक्रियाओं पर ध्यान केंद्रित करने और परिस्थितियों में न फंसने में मदद की है। मेरी इच्छा है कि हमारी मंडली के सभी युवा BCTI कोर्स में भाग लें।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>घरवाली</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2 hindi">“मैंने सीखा है कि हमारे जीवन में दुख एक संपत्ति है। मैं परामर्श में शामिल रहा हूँ और ईसाई परामर्श से गुजरा हूँ और मैंने परामर्श के लिए शास्त्रों का उपयोग करने की कला कभी नहीं सीखी थी। लेकिन अब मैंने सीख लिया है कि परामर्श में शास्त्रों का उपयोग कैसे किया जाता है, और इससे परामर्श का मेरा काम आसान हो गया है।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>काउंसलर</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: lightgray;">
                    <div class="card-body text-start">
                      <p class="card-text text-secondary my-3 mx-md-2">“इस कोर्स के दौरान मैंने भगवान से माफ़ी भी मांगी। मैंने पाया कि दूसरों को माफ़ करना बहुत मुश्किल था क्योंकि मेरे दिल में गहरी चोट लगी थी। मैंने दूसरों को माफ़ करना और बाकी सब भगवान के हाथों में छोड़ देना और उन्हें उनसे निपटने देना सीख लिया है। मैं उन लोगों के साथ धैर्य रखना सीख गया हूँ जो अपने जीवन में बदलाव लाने के लिए समय लेते हैं।”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>पास्टर की पत्नी</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
