<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h1 class="text-center">Restoring Christ to Counseling</h1>
      <h1 class="text-center" style="color: #FFDE82;">& Counseling to the Church.</h1>
      <!-- <h3 class="text-center mx-auto pt-4" >These online courses offer a biblical foundation for understanding God, understanding ourselves, and understanding others – a valuable tool for anyone involved in ministry or counseling.</h3> -->
      <!-- Cards -->
      <!-- <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
        <div class="col d-flex justify-content-center">
          <button class="card card_header card-pop" style= "align-items: center;" [routerLink]="['/counseling']">
            <span class="text-center" style="font-size:8em; color: #b12515;"><i class="bi bi-heart-pulse-fill"></i></span>
            <div class="card-body" style="margin-top: -1em;">
              <p class="card-title text-center">I am here for<br><h4>Counseling</h4></p>
            </div>
          </button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="card card_header card-pop"  style= "align-items: center;" [routerLink]="['/courses']">
            <span class="text-center" style="font-size:8em; color: #1a74cd;"><i class="bi bi-person-workspace"></i></span>
            <div class="card-body" style="margin-top: -1em;">
              <p class="card-title text-center">I am here for<br><h4>Courses</h4></p>
            </div>
          </button>
        </div>
      </div> -->
  </div>
</div>
<!--Goal Section-->
<div class="container-fluid" style="background-color: #fdfbe6;">
  <div class="container">
    <div class="row " >
      <h2 class="text-start space" style="color: #7F6A4F;">Our Goal</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6">
        <h6 class="text-start space">Equipping the church to be a healing community.</h6>
        <p class="text-start">We want to see grace-filled local churches and ministries, being enabled to impact and serve broken communities, by intentionally sharing their lives and the blessings they have discovered in Christ and the Word of God.</p>
        <!-- <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div> -->
      </div>
      <div class="col-md-6" >
        <p class="text-start">BCTI partners with the Christian Counseling & Educational Foundation (CCEF) (<a target="_blank" rel="noreferrer noopener" href="https://www.ccef.org/" >https://www.ccef.org/</a>) to provide biblical counseling courses in India at a discounted rate.</p>
        <p class="text-start">These online recorded video courses offer a biblical foundation for understanding God, understanding ourselves, and understanding others - a valuable tool for anyone involved in ministry or counseling.</p>

        <!-- <a type="button" class="btn text-white" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Explore Our Mission</a> -->
      </div>
    </div>
  </div>
</div>
<!--Video Testimony-->
<div class="container-fluid" style="background-color: #a98f6e;">
  <div class="container">
  <div class="row" >
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/1039974815?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Soumya's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
          <!-- <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4"></iframe> -->
        </div>
      </div>
      <div class="col-md-6" >
        <h2 class="text-start space text-white">Soumya's Story</h2>
        <p class="text-start text-white">Soumya was introduced to the CCEF-BCTI online courses during the COVID pandemic. They have equipped her to gain a Biblical understanding to face and overcome various hardships in her life.</p>
      </div>
  </div>
  </div>
</div>
<!--Courses Section-->
<div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container ">
    <div class="row flex-sm-row-reverse align-items-center" >
      <h2 class="text-start space" style="color: #7F6A4F;">Formation Certificate</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <!-- <div class="ratio ratio-16x9"> -->
          <img src="assets/img/ccef/ccefnn_1.webp" alt="" class="img-fluid rounded pb-3">
        <!-- </div> -->
      </div>
      <div class="col-md-6 ">

        <p class="text-start">These two courses is designed for every Christian who seeks to grow in Christ and help others do the same. This certificate, which consists of two courses, namely, <em>Dynamics of Biblical Change</em> and <em>Helping Relationships</em>.</p>
        <p class="text-start">These online recorded video courses, conducted by Late Dr. David Powlison and Dr. Ed Welch, will give you a basic foundation for understanding how God transforms his people and a framework for Christlike ministry.</p>
        <p class="text-start">All the teaching and learning takes place fully online. The 'classroom' is a virtual classroom, which you can login to, anytime and anywhere (as long as you have an internet connection!)</p>
        <h6>This Formation certificate is jointly given by BCTI and CCEF.</h6>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #fdfbe6;">
  <div class="container ">
    <div class="row align-items-center space" >
      <h2 class="text-start space" style="color: #7F6A4F;">Dynamics of Biblical Change</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <!-- <div class="ratio ratio-16x9"> -->
          <img src="assets/img/ccef/ccef_dbc.webp" alt="" class="img-fluid rounded pb-3">
        <!-- </div> -->
      </div>
      <div class="col-md-6 ">

        <p class="text-start">The way that you counsel other people is determined by how you understand God, yourself, other people, life's pressures, and change. This course addresses the depth, breadth, and balance of your understanding. How does Christ’s past grace, present grace, and future grace speak to our hearts and change how we live our daily lives?</p>
        <p class="text-start">This course is about people. It is about how we face the troubles of life. It is about how we deal with our inner struggles. It is about how we change into Jesus’ image. Through case studies, class lectures, assigned readings, and Scripture, you’ll explore these practical questions. Self-counseling projects will help you to make first-hand, practical application of the concepts learned in class.</p>
        <h6>Dynamics of Biblical Change must be taken as a prerequisite to all other courses.</h6>
        <h5 class="text-start mt-4">Click below to Register</h5>
        <a type="button" class="btn btn-success mt-2" target="_blank" rel="noreferrer noopener" href="https://forms.gle/Q9kKVSJYqWePn5jD8" style="font-size: medium; width: 200px;">Register Now</a>
      </div>
    </div>
    <div class="row flex-sm-row-reverse align-items-center" >
      <h2 class="text-start space" style="color: #7F6A4F;">Helping Relationships</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <!-- <div class="ratio ratio-16x9"> -->
          <img src="assets/img/ccef/ccef_hr.webp" alt="" class="img-fluid rounded pb-3">
        <!-- </div> -->
      </div>
      <div class="col-md-6 ">

        <p class="text-start">Let's say you have a basic and growing understanding of biblical counseling. You know the key ideas and have been able to apply them to yourself.</p>
        <p class="text-start">Now comes the hard part: How do you apply this understanding in your everyday relationships? This course will take the content you already know and get specific about how you can actually deliver the content. Case studies, lectures, and group discussions will help you grow in your ability to listen well, know people, interpret another person's story from a biblical perspective, and offer biblically-based truth that will motivate others in their growth in Christ.</p>
        <p class="text-start">This course has two unique requirements. First, you will be grouped with 3-4 other students for a bi-weekly community group. This group will decide when they want to meet, and what format works best (Whatsapp, Phone Call, Zoom etc.)</p>
        <p class="text-start">You will also meet weekly for an hour with someone (a friend, fellow church member, neighbor, etc.) to put into practice what you are learning in this course. You will receive more information about these activities in your course syllabus and in the opening lecture.</p>
        <h5 class="text-start mt-4">Click below to Register</h5>
        <a type="button" class="btn btn-success mt-2 space" target="_blank" rel="noreferrer noopener" href="https://forms.gle/4J5r2kYGypRXiTeK8" style="font-size: medium; width: 200px;">Register Now</a>
      </div>
    </div>
    <h6>Students who have completed these two courses are also required to attend and be part of a two day online residential program organized and conducted by BCTI to be eligible to receive the Formation Certificate.</h6>
    <h6>BCTI or CCEF are not accrediting institutions.</h6>
  </div>
</div>

<!-- Course Details -->
<div class="section py-5" style="background-color:#fdfbe6;">
  <div class="container mx-auto" style="background-color:#D2D8BE;">
                <div class="row text-dark mx-3" >
                  <h2 class=" text-dark text-start mb-5">Upcoming Batches</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h6 class="mb-3">{{items.summary}}</h6>
                                <div class="row">
                                  <div class="col-6">
                                    <h5>Start Date</h5>
                                    <p style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5>Time</h5>
                                    <p style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <h5 class="title text-dark text-start mt-4">Click below to register</h5>
                                <a *ngIf="items.summary == 'Dynamics of Biblical Change'" type="button" class="btn btn-success" target="_blank" rel="noreferrer noopener" href="https://forms.gle/Q9kKVSJYqWePn5jD8" style="font-size: medium; width: 200px;">Register Now</a>
                                <a *ngIf="items.summary == 'Helping Relationships'" type="button" class="btn btn-success" target="_blank" rel="noreferrer noopener" href="https://forms.gle/4J5r2kYGypRXiTeK8" style="font-size: medium; width: 200px;">Register Now</a>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                </div>
                <div class="row mx-3">
                        <div class="col-md-4 justify-content-center">
                          <h4 class="title text-dark text-start mt-4">Cost</h4>
                          <h5 class="mt-3">Rs. 7,500/- per seat</h5>
                        </div>
                        <div class="col-md-4">
                          <h4 class="text-start mt-4">Contact</h4>
                          <h5 class="mt-3">Jessica Parmar</h5>
                          <a type="button" class="btn btn-success" href="https://wa.me/917982885790" style="font-weight: 500; font-size: medium;"><i class="bi bi-whatsapp me-2"></i>+91 79828 85790</a>
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4" style="align-self: end;">
                          <h6 class="mx-3 mt-5" style="font-size: 0.8rem !important;">* Dates are subject to change.</h6>
                          <!-- <h5 class="title text-dark text-start mt-4">Click below to register</h5>
                          <a type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/EWSxwgqfC1jnC8bC7" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>
  </div>
</div>
<!-- Text Testimonies -->
<section class="section-cards pb-3" style="background-color: #a98f6e;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4" style="font-weight: 700;">Hear From Our Previous Participants</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_ccef d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #f7ecd4;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“The courses have opened my eyes to understand Biblical Counselling as a skilled form of Discipleship. The church needs to be an able to help people to walk through suffering and struggles of daily life and to draw nearer to the Wonderful Counselor. It has deepened my ability to study scripture as I look not only at the ‘what’ but also the ‘how’ of application of scripture to my personal life.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>Physician (Male)</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style=" align-content: center; background-color:#fff6e6;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“I started taking the CCEF courses to understand people better because I had people reporting to me at my workplace. God accomplished this goal by first changing me and then helping me see people through God's eyes. God showed me how people are complex and how their struggles are multi-layered. I learned how to listen to people and walk with them in a way that they feel loved and cared. Most importantly, these courses (especially HRE) gave me a pastoral heart to love people.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>I.T Manager</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“The Dynamics of Biblical Change was the best thing that happened to me in the year 2020, when the Covid-19 pandemic hit the globe and we were confined to the four walls of our homes. David Powlison’s lectures on how the Lord effects transformation using the “thorn bush - fruit tree model “ of change and CCEF’S articles made a deep impression upon my soul and was one of God’s means of growth for me both personally and in ministry.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>Student</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:lightgray;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“The DBC (Dynamics of Biblical Change Course) had opened my eyes to recognise that change doesn't happen overnight. It helped me to address the areas in my life which needed change. It also had taken me through the process that needs essentially to be followed in order to start the journey towards fruitful change. It has been the starting of a blissful journey with Christ.”</p>
                      <figcaption class="blockquote-footer mt-2 ms-2 hindi" style="font-size: 1.1rem;">
                        <strong>Student</strong>
                      </figcaption>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
