<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h1 class="text-center">Restoring Christ to Counseling</h1>
      <h1 class="text-center" style="color: #FFDE82;">& Counseling to the Church.</h1>
      <h3 class="text-center mx-auto pt-4" >These online courses offer a biblical foundation for understanding God, understanding ourselves, and understanding others – a valuable tool for anyone involved in ministry or counseling.</h3>
      <!-- Cards -->
      <!-- <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
        <div class="col d-flex justify-content-center">
          <button class="card card_header card-pop" style= "align-items: center;" [routerLink]="['/counseling']">
            <span class="text-center" style="font-size:8em; color: #b12515;"><i class="bi bi-heart-pulse-fill"></i></span>
            <div class="card-body" style="margin-top: -1em;">
              <p class="card-title text-center">I am here for<br><h4>Counseling</h4></p>
            </div>
          </button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="card card_header card-pop"  style= "align-items: center;" [routerLink]="['/courses']">
            <span class="text-center" style="font-size:8em; color: #1a74cd;"><i class="bi bi-person-workspace"></i></span>
            <div class="card-body" style="margin-top: -1em;">
              <p class="card-title text-center">I am here for<br><h4>Courses</h4></p>
            </div>
          </button>
        </div>
      </div> -->
  </div>
</div>
<!--Goal Section-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row " >
      <h2 class="text-start space" style="color: #7F6A4F;">Our Goal</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6">
        <h6 class="text-start space">Equipping the church to be a healing community.</h6>
        <p class="text-start">We want to see grace-filled local churches and ministries, being enabled to impact and serve broken communities, by intentionally sharing their lives and the blessings they have discovered in Christ and the Word of God.</p>
        <!-- <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div> -->
      </div>
      <div class="col-md-6" >
        <p class="text-start">BCTI partners with the Christian Counseling & Educational Foundation (CCEF) to provide biblical counseling courses in India at a discounted rate.</p>
        <p class="text-start">These online courses offer a biblical foundation for understanding God, understanding ourselves, and understanding others - a valuable tool for anyone involved in ministry or counseling.</p>

        <!-- <a type="button" class="btn text-white" href="#" style="background-color: #6CAB72; font-size: medium; width: 200px;">Explore Our Mission</a> -->
      </div>
    </div>
  </div>
</div>
<!--Video Testimony-->
<div class="container-fluid" style="background-color: #7F6A4F;">
  <div class="container">
  <div class="row" >
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/1039974815?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Soumya's Testimony"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
          <!-- <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4"></iframe> -->
        </div>
      </div>
      <div class="col-md-6" >
        <h2 class="text-start space text-white">Soumya's Story</h2>
        <p class="text-start text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
  </div>
  </div>
</div>
<!--Courses Section-->
<div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container ">
    <div class="row flex-sm-row-reverse align-items-center" >
      <h2 class="text-start space" style="color: #7F6A4F;">Formation Certificate</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <!-- <div class="ratio ratio-16x9"> -->
          <img src="assets/img/ccef/ccefnn.webp" alt="" class="img-fluid rounded pb-3">
        <!-- </div> -->
      </div>
      <div class="col-md-6 ">

        <p class="text-start">The Formation Certificate is designed for every Christian who seeks to grow in Christ and help others do the same. This certificate, which consists of two courses, namely, <em>Dynamics of Biblical Change</em> and <em>Helping Relationships</em>.</p>
        <p class="text-start">These courses will give you a basic foundation for understanding how God transforms his people and a framework for Christlike ministry.</p>
        <p class="text-start">All the teaching and learning takes place fully online. The 'classroom' is a virtual classroom, which you can login to, anytime and anywhere (as long as you have an internet connection!)</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container ">
    <div class="row align-items-center space" >
      <h2 class="text-start space" style="color: #7F6A4F;">Dynamics of Biblical Change</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <!-- <div class="ratio ratio-16x9"> -->
          <img src="assets/img/ccef/ccef_dbc.webp" alt="" class="img-fluid rounded pb-3">
        <!-- </div> -->
      </div>
      <div class="col-md-6 ">

        <p class="text-start">The way that you counsel other people is determined by how you understand God, yourself, other people, life's pressures, and change. This course addresses the depth, breadth, and balance of your understanding. How does Christ’s past grace, present grace, and future grace speak to our hearts and change how we live our daily lives?</p>
        <p class="text-start">This course is about people. It is about how we face the troubles of life. It is about how we deal with our inner struggles. It is about how we change into Jesus’ image. Through case studies, class lectures, assigned readings, and Scripture, you’ll explore these practical questions. Self-counseling projects will help you to make first-hand, practical application of the concepts learned in class.</p>
        <h6>Dynamics of Biblical Change must be taken as a prerequisite to all other courses.</h6>
        <h5 class="title text-dark text-start mt-4">Click below to register</h5>
        <a type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/Q9kKVSJYqWePn5jD8" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a>
      </div>
    </div>
    <div class="row flex-sm-row-reverse align-items-center" >
      <h2 class="text-start space" style="color: #7F6A4F;">Helping Relationships</h2>
    <!-- <h2 class="text-start space d-none d-sm-block d-md-none" style="color: #7F6A4F;">Our Mission</h2> -->
      <div class="col-md-6 mb-4">
        <!-- <div class="ratio ratio-16x9"> -->
          <img src="assets/img/ccef/ccef_hr.webp" alt="" class="img-fluid rounded pb-3">
        <!-- </div> -->
      </div>
      <div class="col-md-6 ">

        <p class="text-start">Let's say you have a basic and growing understanding of biblical counseling. You know the key ideas and have been able to apply them to yourself.</p>
        <p class="text-start">Now comes the hard part: How do you apply this understanding in your everyday relationships? This course will take the content you already know and get specific about how you can actually deliver the content. Case studies, lectures, and group discussions will help you grow in your ability to listen well, know people, interpret another person's story from a biblical perspective, and offer biblically-based truth that will motivate others in their growth in Christ.</p>
        <p class="text-start">This course has two unique requirements. First, you will be grouped with 3-4 other students for a bi-weekly community group. This group will decide when they want to meet, and what format works best (Whatsapp, Phone Call, Zoom etc.)</p>
        <p class="text-start">You will also meet weekly for an hour with someone (a friend, fellow church member, neighbor, etc.) to put into practice what you are learning in this course. You will receive more information about these activities in your course syllabus and in the opening lecture.</p>
        <h5 class="title text-dark text-start mt-4">Click below to register</h5>
        <a type="button" class="btn text-white space" target="_blank" rel="noreferrer noopener" href="https://forms.gle/4J5r2kYGypRXiTeK8" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a>
      </div>
    </div>
    <h6>Students who have completed these two courses are also required to attend and be part of a two day online residential program organized and conducted by BCTI.</h6>
    <h6>BCTI or CCEF are not accrediting institutions.</h6>
  </div>
</div>

<!-- Course Details -->
<div class="section py-5" style="background-color:#FFFCF0;">
  <div class="container mx-auto" style="background-color:#D2D8BE;">
                <div class="row text-dark mx-3" >
                  <h2 class=" text-dark text-start mb-5">Upcoming Batches</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h6 class="mb-3">{{items.summary}}</h6>
                                <div class="row">
                                  <div class="col-6">
                                    <h5>Start Date</h5>
                                    <p style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5>Time</h5>
                                    <p style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <h5 class="title text-dark text-start mt-4">Click below to register</h5>
                                <a *ngIf="items.summary == 'Dynamics of Biblical Change'" type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/Q9kKVSJYqWePn5jD8" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a>
                                <a *ngIf="items.summary == 'Helping Relationships'" type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/4J5r2kYGypRXiTeK8" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                </div>
                <div class="row mx-3">
                        <div class="col-md-4 justify-content-center">
                          <h4 class="title text-dark text-start mt-4">Cost</h4>
                          <h5 class="mt-3">Rs. 7,500/- per seat</h5>
                        </div>
                        <div class="col-md-4">
                          <h4 class="title text-dark text-start mt-4">Contact</h4>
                          <span class="mt-3" style="font-weight: 700;">Jessica Parmar</span>
                          <a type="button" class="btn btn-outline-dark ms-3" href="tel:+919876543210" style="font-weight: 700;font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98765 43210</a>
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4" style="align-self: end;">
                          <h6 class="mx-3 mt-5" style="font-size: 0.8rem !important;">* Dates are subject to change.</h6>
                          <!-- <h5 class="title text-dark text-start mt-4">Click below to register</h5>
                          <a type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/EWSxwgqfC1jnC8bC7" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>
  </div>
</div>
<!-- Text Testimonies -->
<section class="section-cards pb-3" style="background-color: #7F6A4F;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
          <h2 class="title text-white text-center mx-auto mb-4" style="font-weight: 700;">Hear From Our Delegates</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_ccef d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“This course deeply impacted me by shifting my perspective on my relationship with God and revealing idol worship in my life. Unlike individualistic counselling and psychological help, it guided me to recognize my heart as the true source of issues, helping me connect with God in transformative and meaningful ways.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“As a professor, I kept hearing the importance of listening. I joined to change my kids but discovered I needed to change myself! The highlight was the course's format—no sermons, just discussions and questions—making it engaging and interactive.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“I need to view trials through the bigger picture, keeping Christ central in my heart. A deep relationship with Him enables me to respond to struggles with grace, helping others see themselves and the world through a biblical perspective, and fostering fruitful responses in even the toughest situations.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“Through God's power, change is possible for Christians, transforming us into fruit-bearing trees. As a new creation in Christ, I must abandon old ways, focus on my heart instead of circumstances, and rely on God's grace to respond in a godly manner to life's challenges.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“I learned that change starts with me, and instead of changing my situation, I must concentrate on changing my response towards the problem. God will help me through this process....completion of this process is possible through His Grace and Mercy.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“Before this course, I had moved to a new place, feeling unprepared and questioning God’s purpose for bringing me there. Like the Israelites, I grumbled and let bitterness harden my heart. Through the lessons, God revealed my thorny responses, showing me His transformative work and drawing me closer to Him.”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="height: 290px; align-content: center;">
                    <div class="card-body text-start">
                      <p class="card-text my-3 mx-md-2">“This course was God-appointed during a very difficult time in my life. I experienced His love and forgiveness, realising my struggle with being unable to worship and the idols in my heart. It was liberating to seek forgiveness, gain clarity, and now enjoy freedom and deeper connections with God and others.”</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
