<footer>
  <div class="container py-3 ">
    <div class="row">
        <div class="col-md-2 col-4">
                <img src="assets/logo-transparent.png" class="logo-transparent img-fluid" alt="">
        </div>
        <div class="col-md-10 col-8" style="margin-top: 0.7rem;">
          <div class="row">
            <div class="col">
              <h6>About Us</h6>
              <ul class="links-vertical d-none d-md-block">
                  <li>
                      <a [routerLink]="['/story']">
                          Our Vision
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/sermons']">
                        Our Beliefs
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/campus']">
                        Our Team
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col">
            <h6>Counseling</h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/story']">
                      Biblical counselling
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/sermons']">
                      Book an apointment
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/campus']">
                      Coaching Sessions
                    </a>
                </li>
            </ul>
          </div>
          <div class="col">
            <h6>Courses</h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/story']">
                      English Courses
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/sermons']">
                      CCEF-BCTI Courses
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/campus']">
                      Hindi Courses
                    </a>
                </li>
            </ul>
          </div>
          <div class="col">
            <h6>Participate</h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/story']">
                      Donate
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/sermons']">
                      Alumni
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/campus']">
                      Mentoring
                    </a>
                </li>
            </ul>
          </div>
          <div class="col">
            <h6>Contact</h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/story']">
                      Contact Us
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/sermons']">
                      FaceBook
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/campus']">
                      Instagram
                    </a>
                </li>
            </ul>
          </div>
        </div>
    <!-- <div class="row d-block d-sm-block d-md-none">
      <div class="col-4">
        <div class="logo-transparent">
            <img src="assets/logo-transparent.png" class="logo-transparent" alt="">
        </div>
      </div>
      <div class="col-6">
        <ul class="links-vertical">
          <li>
              <a [routerLink]="['/story']">
                <h6>ABOUT US</h6>
              </a>
          </li>
          <li>
              <a [routerLink]="['/sermons']">
                <h6>COUNSELING</h6>
              </a>
          </li>
          <li>
              <a [routerLink]="['/campus']">
                <h6>COURSES</h6>
              </a>
          </li>
          <li>
            <a [routerLink]="['/sermons']">
              <h6>PARTICIPATE</h6>
            </a>
        </li>
        <li>
            <a [routerLink]="['/campus']">
              <h6>CONTACT</h6>
            </a>
        </li>
      </ul>
      </div>
    </div> -->
     </div>
    </div>
    <hr style="border-width: medium;">
    <div class="row justify-content-center" >
      <div class="col-4 col-md-4 text-center" style="font-size:13px; padding-top: 6px;">
        © 2024 BCTI. All rights reserved.
    </div>
      <button type="button" class="btn col-4 col-md-4 text-center" style="font-size:13px;">
        Privacy Policy
      </button>
    </div>
  </div>
</footer>
