footer {
  // padding: 10px;
  // background: #FFFCF0;
  background: #fdfbe6;
}
.logo-transparent {
  width: 130px;
}
.logo:hover {
  cursor: pointer;
}
ul {
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}
li {
  list-style: none;
  color: #454545;
  font-size: smaller;
}
a {
  text-decoration: none !important;
  color: #454545;
}
