<footer>
  <div class="container py-3 ">
    <div class="row">
        <div class="col-md-2 col-4">
                <img src="assets/logo-transparent.png" class="logo-transparent img-fluid" alt="">
        </div>
        <div class="col-md-10 col-8" style="margin-top: 0.7rem;">
          <div class="row">
            <div class="col">
              <h6><a [routerLink]="['/about']">About Us</a></h6>
              <ul class="links-vertical d-none d-md-block">
                  <li>
                      <a [routerLink]="['/about']" fragment="vision">
                          Our Vision
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/about']" fragment="values">
                        Our Values
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/about']" fragment="staff">
                        Our Staff
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col">
            <h6><a [routerLink]="['/counseling']">Counseling</a></h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/counseling']" fragment="counseling">
                      Biblical counselling
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/counseling']" fragment="booking">
                      Book an apointment
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/counseling']" fragment="team">
                      Our Team
                    </a>
                </li>
            </ul>
          </div>
          <div class="col">
            <h6><a [routerLink]="['/courses']">Courses</a></h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/engcourses']">
                      English Courses
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/ccef-bcti']">
                      CCEF-BCTI Courses
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/hindi-courses']">
                      Hindi Courses
                    </a>
                </li>
            </ul>
          </div>
          <div class="col">
            <h6><a [routerLink]="['/alumni']">Participate</a></h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/calendar']">
                      Calendar
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/alumni']">
                      Alumni
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/alumni']">
                      Mentoring
                    </a>
                </li>
            </ul>
          </div>
          <div class="col">
            <h6><a [routerLink]="['/contact']">Contact</a></h6>
            <ul class="links-vertical d-none d-md-block">
                <li>
                    <a [routerLink]="['/contact']">
                      Contact Us
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                      FaceBook
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                      Instagram
                    </a>
                </li>
            </ul>
          </div>
        </div>
    <!-- <div class="row d-block d-sm-block d-md-none">
      <div class="col-4">
        <div class="logo-transparent">
            <img src="assets/logo-transparent.png" class="logo-transparent" alt="">
        </div>
      </div>
      <div class="col-6">
        <ul class="links-vertical">
          <li>
              <a [routerLink]="['/story']">
                <h6>ABOUT US</h6>
              </a>
          </li>
          <li>
              <a [routerLink]="['/sermons']">
                <h6>COUNSELING</h6>
              </a>
          </li>
          <li>
              <a [routerLink]="['/campus']">
                <h6>COURSES</h6>
              </a>
          </li>
          <li>
            <a [routerLink]="['/sermons']">
              <h6>PARTICIPATE</h6>
            </a>
        </li>
        <li>
            <a [routerLink]="['/campus']">
              <h6>CONTACT</h6>
            </a>
        </li>
      </ul>
      </div>
    </div> -->
     </div>
    </div>
    <hr style="border-width: medium;">
    <div class="row justify-content-center" >
      <div class="col-4 col-md-4 text-center" style="font-size:13px; padding-top: 6px;">
        © 2024 BCTI. All rights reserved.
    </div>
      <button type="button" class="btn col-4 col-md-4 text-center" style="font-size:13px;">
        Privacy Policy
      </button>
    </div>
  </div>
</footer>
