<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
      <h2 class="text-center mt-5">“Our hope rests in the unbreakable reality that Christ willingly invades the broken condition of human life - and participates."</h2>
      <h3 class="text-center mt-4 mb-5">David Powlison</h3>
  </div>
</div>
<!-- Biblical Counseling -->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">What is Biblical Counseling?</h2>
    <p class="text-start">Biblical counseling is based on a Scriptural understanding of human behavior, focusing on the heart as the core of all thoughts, emotions, and actions, in line with Proverbs 4:23, which states, "from it flow the issues of life." A biblical counselor, who is also a fellow believer, works alongside you to address your struggles, ensuring that the Triune God of the Bible is central to the solutions and guidance provided. This approach integrates faith, relying on God's wisdom and power for personal growth and transformation.</p>
    <p class="text-start space">In contrast, psychological counseling is grounded in human observation and studies of behavior, without a spiritual dimension. It focuses primarily on the mind and emotions from a secular perspective. Solutions are limited to the horizontal realm of human relationships and self-understanding, lacking the vertical connection to God that is central to biblical counseling. As a result, while psychological counseling can offer helpful insights, it does not engage with the deeper spiritual aspect of healing and transformation.</p>
    <!--Tabs-->
    <h3 class="text-start spacer" style="font-weight: 500 !important;color: #7F6A4F;">Types of Counselling</h3>
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link btn text-white active mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" style="background-color: #6CAB72; font-size: medium; width: 148px;">Pre Marital</button>
        <button class="nav-link btn text-white mb-3" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" style="background-color: #6CAB72; font-size: medium; width: 150px;">Couples</button>
        <button class="nav-link btn text-white" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="background-color: #6CAB72; font-size: medium; width: 150px;">Family</button>
        <!-- <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button> -->
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h6 class="mb-3" style="color: #7F6A4F;">Pre Marital Counseling</h6>
          <p>Building a life together? Pre marital counseling will help you and your partner align on beliefs, values, and expectations, laying the groundwork for a strong, lasting marriage.</p>
          <p>All of us spend between 5-8 years preparing for our professional lives which may change after a few years, but hardly any time is devoted to the preparation for a lifetime commitment with our life-partner! BCTI offers personalized counselling / coaching to prepare you for this life-long commitment. Topics include God's design for marriage, discovering your identity, dealing with differences, quality communication, managing conflicts, dealing with finances, in-laws etc.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h6 class="mb-3" style="color: #7F6A4F;">Couples Counseling</h6>
          <p>Struggling in your marriage? Couples invariably face issues related to differences, communications, expectations etc after the honeymoon period is over. Our couples counseling is designed to help you resolve conflicts and gain new perspectives that strengthen your relationship.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <h6 class="mb-3" style="color: #7F6A4F;">Family Counseling</h6>
          <p>Facing challenges within the family? Our family counseling addresses emotional, behavioral, and relational dynamics to help bring peace and harmony into your home.</p>
        </div>
        <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div> -->
      </div>
    </div>

  </div>
</div>
<!-- Ribbon   -->
<div class="page-header container-fluid " style="background-color: #777E5C;">
  <div class="container">
    <div class="row border border-white border-4 p-4 text-center">
      <div class="col-md-9">
        <h2 class="text-center">Register for a Counseling Session</h2>
      </div>
      <div class="col-md-3">
        <a type="button" class="btn btn-outline-light mt-2" target="_blank" rel="noreferrer noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSe4kImB4qJFEQ7EiaMuFURBZcsVEBo74PNadaLEowGFBQskuA/viewform" style=" font-size: medium; width: 200px;">Register Now</a>
      </div>
    </div>
  </div>
</div>
<!--Personal Coaching-->
<div class="container-fluid pt-5" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start spacer" style="color: #7F6A4F;">Personal Coaching</h2>
      <!-- <h2 class="text-md-end space" style="color: #7F6A4F;">Training</h2> -->
      <div class="col-md-6 spacer">

        <div class="Coaching justify-content-start">
          <!-- <div class="position-relative ">
          <div data-glide-el="controls">
            <button class="position-absolute" style="background-color: transparent; border: 0px; left: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-short"></i></h2></button>
            <button class="position-absolute" style="background-color: transparent; border: 0px; right: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-short"></i></h2></button>
          </div>
        </div> -->
          <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
              <li class="glide__slide">
                <div class="ratio ratio-16x9">
                  <img src="assets/img/counseling/counseling1.webp" alt="" class="rounded pb-3">
                </div>
              </li>
              <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                  </div>
              </li>
              <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-start">In our one-on-one counseling sessions, you will experience a safe and confidential environment where you can openly discuss your personal concerns. Our compassionate and dedicated counselors provide individualized support, offering guidance and wisdom tailored to your unique circumstances. Whether you're facing emotional, relational, or spiritual challenges, our goal is to walk alongside you, helping you navigate life's difficulties with care and understanding.</p>
        <a type="button" class="btn text-white mt-3" [routerLink]="['/alumni']" style="background-color: #6CAB72; font-size: medium; width: 200px;">Know More</a>
      </div>
    </div>
  </div>
</div>

<!-- Video Tewstimonies -->
<div class="container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <h2 class="text-start space" style="color: #7F6A4F;">Testimonials</h2>
    <div class="row mx-auto">
      <div class="col-md-4 pt-3 text-center">
        <!-- <span class="text-center" style="font-size:4em; color:#FFDE82;"><i class="bi bi-award-fill"></i></span> -->
        <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div>
        <h3 class="mt-3">Testimony 1</h3>
      </div>
      <div class="col-md-4 pt-3 text-center">
        <!-- <span class="text-center" style="font-size:4em; color:#FFDE82;"><i class="bi bi-geo-alt-fill"></i></span> -->
        <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div>
        <h3 class="mt-3">Testimony 2</h3>
      </div>
      <div class="col-md-4 pt-3 text-center">
        <!-- <span class="text-center" style="font-size:4em; color:#FFDE82;"><i class="bi bi-people-fill"></i></span> -->
        <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div>
        <h3 class="mt-3">Testimony 3</h3>
      </div>
    </div>
  </div>
</div>

<!--Our Team-->
<div class="container-fluid" style="background-color: #777E5C;">
  <div class="container">
    <h2 class="text-start text-white spacer">Our Team</h2>
    <div class="row row-cols-1 row-cols-md-3 g-5">

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/about/team1.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Dr. Ashok Chacko</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Director</h5>
                <p class="card-description">Dr. Ashok Chacko completed an Advanced Course in Biblical Counseling from the Christian Counseling and Educational Foundation (CCEF), Philadelphia, USA. He is a trained physician (MBBS, DNB) who worked for many years with the Emmanuel Hospital Association. He has been the Director of BCTI since 2018. He is married to Vinita (also trained as a Biblical Counselor at CCEF) for 37 years. They have 3 married sons and 5 grandchildren.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Couples in their relationship struggles.<br>Coaching and training churches in Biblical Counseling.<br>He is especially available to help those in ministries who are struggling with family or other issues</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Mondays, Tuesdays, Thursday and Fridays from 8:30 am to 8:30 pm.</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/about/team2.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Nidish Philip</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">Nidish Philip is a Counselor and Trainer associated with the Biblical Counseling Trust of India (BCTI). He leads English training sessions and serves as one of the organization's counselors. He is married to Apy and they have a son Caleb.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Marriage<br>Parenting<br>Mental health<br>Personal growth.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Monday and Wednesday from 11 am to 1 pm and 2 pm to 4 pm.<br>Tuesday and Thursday from 2 pm to 5 pm.</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/about/team3.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Shiju John</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">He holds an M.Th. in Pastoral Care and Counseling from SAIACS, Bengaluru.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Family issues<br>Depression<br>Addiction.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Monday and Wednesday from 11 am to 1 pm and 2 pm to 4 pm.<br>Tuesday and Thursday from 2 pm to 5 pm.</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/counseling/Shereen.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Shereen Rachel Varghese</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">Shereen has been associated with BCTI since 2015 and also works regular hours as a microbiologist at CMC Ludhiana.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Personal Growth</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Between 7 PM and 9 PM (Online).</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/counseling/Gifty.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Dr. Jean Gifty J.</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">Dr. Jean Gifty J. has been associated with BCTI since 2021. She is a former Assistant Professor in Medical Sociology at Loyola College with a PhD from Madras School of Social Work focussing on psychosocial care for victims of sexual violence. She is a trauma-informed, eclectic counselor with over 10 years of teaching and counseling experience.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Sexual violence<br>Addiction<br>Grief<br>Anxiety<br>Depression</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Mondays, Tuesdays, Thursday and Fridays from 8:30 am to 8:30 pm</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/counseling/Fairy.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Fairy Tak</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">Fairy is a counselor, developer and trainer. She graduated from New Theological College in Dehradun with a B.Th. and a B.A. She works part-time at BCTI after completing her theology diploma at Sydney Missionary and Bible College (Sydney, AU). She, her husband, Ajit Tak, and their two boys live in Dehradun. Ajit and Fairy regard parenting as a crucial component of their enthusiasm for word-based discipleship in the larger church.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Counseling to Women</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Monday, Wednesdays from 9:00 am - 5:00 pm</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/counseling/nissy.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Nissy Renith</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">Nissy is a Trainer and Counselor at BCTI where she has served since 2018. She holds a Bachelors in Theology from New Theological College, Dehradun and a Masters in Social Work from Indira Gandhi University. Besides training and counselling, she assists the team in developing and translating training materials. She is a wife and a mother.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Personal Growth for young people.<br>Counseling families.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Monday, Wednesdays from 9:00 am - 5:00 pm</p>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-profile card-plain">
              <div class="card-img-top img-fluid text-center">
                <a href="javascript:void(0)"><img class="img" src="assets/img/counseling/Jessica.webp" style="padding: 1.4rem;"></a>
              </div>
              <div class="card-body text-left">
                <h4 class="card-title">Jessica Parmar</h4>
                <h5 class="card-category" style="font-size: 14px !important;">Counselor</h5>
                <p class="card-description">Jessica works as Manager for Counselor Development, provides Counseling and is managing the Online training that we offer in collaboration with CCEF. She has a background in Medical and Psychiatric Social Work and has been working in the field of mental health for the past 10 years.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Areas of Counseling:</h6>
                <p class="card-description">Personal Growth.<br>Mental welness.</p>
                <h6 class="card-category" style="font-size: 14px !important;">Available for session:</h6>
                <p class="card-description">Monday to Friday from 10:00 am - 5:00 pm (Online and in-person).</p>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Contact Form-->
<div class="container-fluid" style="background-color: #FFFCF0; padding-left: 0px !important; padding-right: 0px !important;">
  <div class="container" style="padding-left: 0px !important; padding-right: 0px !important;">
    <div class="row flex-sm-row-reverse" >
      <div class="col-md-6 mb-4">
        <div class="card shadow-none">
          <div class="card-body" >
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4kImB4qJFEQ7EiaMuFURBZcsVEBo74PNadaLEowGFBQskuA/viewform?embedded=true" width="100%" height="700px" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
      </div>
      </div>
      <div class="col-md-6" style="align-content: center;">
        <h2 class="text-start space" style="color: #7F6A4F;">Get in touch with us</h2>
        <p class="text-start space">Email us:<br>Counselling: counseling&#64;bcti.org.in</p>
        <p class="text-start space">Contact No:<br>+91-7982885790</p>
      </div>
    </div>
  </div>
</div>
