<!-- Banner Mobile  -->
<div class="page-header container-fluid d-sm-block d-md-none" style="background-color: #fff3cd; background-image: url('assets/img/hpc/hpc_banner_1.webp'); background-repeat: no-repeat; background-position: bottom; height: 60vh; align-content: baseline; background-size: contain;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">लोग कैसे बदलते है</h1>
        <h4 class="text-center hindi text-white mt-4 mb-5" style="font-weight: 400 !important;">यह कोर्स आपकी सहायता करेगा कि आप अपने ह्रदय की इच्छाओं को जांचने के द्वारा अपने परिस्थितियों और अपने प्रतिउत्तरों पर ध्यान दें और मसीह की ओर मुड़ें|</h4>
    </div>
  </div>
</div>

<!-- Banner Laptop  -->
<div class="page-header container-fluid d-none d-md-block d-lg-block d-xl-none" style="background-color: #fff3cd; background-image: url('assets/img/hpc/hpc_banner_1.webp'); background-repeat: no-repeat; background-position: bottom; height: 50vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:53px !important;">लोग कैसे बदलते है</h1>
        <h4 class="text-center hindi text-white mt-4 mb-5" style="font-weight: 400 !important;">यह कोर्स आपकी सहायता करेगा कि आप अपने ह्रदय की इच्छाओं को जांचने के द्वारा अपने परिस्थितियों और अपने प्रतिउत्तरों पर ध्यान दें और मसीह की ओर मुड़ें|</h4>
    </div>
  </div>
</div>

<!-- Banner Hi Res  -->
<div class="page-header container-fluid d-none d-md d-lg-none d-xl-block" style="background-color: #fff3cd; background-image: url('assets/img/hpc/hpc_banner_1.webp'); background-repeat: no-repeat; background-position: center; height: 60vh; align-content: baseline; background-size: cover;">
  <div class="layer">
    <div class="container">
        <h1 class="text-center hindi mt-5" style="color: #FFDE82; font-size:75px !important;">लोग कैसे बदलते है</h1>
        <h2 class="text-center hindi text-white mt-5 mb-5" style="font-weight: 400 !important;">यह कोर्स आपकी सहायता करेगा कि आप अपने ह्रदय की इच्छाओं को जांचने के द्वारा अपने परिस्थितियों और अपने प्रतिउत्तरों पर ध्यान दें और मसीह की ओर मुड़ें|</h2>
    </div>
  </div>
</div>
<!-- Ribbon   -->
<!-- <div class="page-header container-fluid" style="background-color: #a77a4c; margin-top: -10px;">
  <div class="container" style="padding-top: 10px !important;">
    <h2 class="text-center">Are you tired of struggling with anger against your loved ones?</h2>
  </div>
</div> -->

<!--Video Testimony-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" >
        <div class="col-md-6 mb-4">
          <div class="ratio ratio-16x9">
          <iframe preload="none" class="absolute inset-0 z-10 h-full w-full object-cover focus:outline-none" src="https://videocdn.cdnpk.net/videos/5bda907d-74ba-4de7-82b0-e512e44d88ce/horizontal/previews/videvo_watermarked/large.mp4" type="video/mp4">
          </iframe>
        </div>
        </div>
        <div class="col-md-6" >
          <h2 class="text-start space" style="color: #7F6A4F;">Anu's Story</h2>
          <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
  </div>
</div> -->

<!-- Course Highlight   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">

  <div class="container">
      <h2 class="text-center  hindi"> <span style="color: #FFDE82;">लोग कैसे बदलते है</span> कोर्स आपकी सहायता करेगा</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <i class="bi bi-search text-center" style="font-size: 5.5rem; color: #4b2418;"></i>
            </div>
            <div class="col-12 mt-3">
              <p class="text-white hindi text-center">आपके संघर्षों को <strong style="color: #FFDE82;">पहचान</strong> कर<br>उन्हें <strong style="color: #FFDE82;">संबोधित</strong> करने में</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/bible.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white hindi text-center">मानुषिक व्यवहार के <strong style="color: #FFDE82;">बाईबलीय</strong><br>दृष्टिकोण को समझना</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class=" col-12 dot">
              <img class="img img-fluid" src="assets/img/hpc/connect.svg">
            </div>
            <div class="col-12 mt-3">
              <p class="text-white hindi text-center"><strong style="color: #FFDE82;">पवित्रशास्त्र</strong> को दैनिक<br>जीवन के साथ जोड़ना</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Course Details -->
<div class="section py-5" style="background-color:#fdfbe6;">
  <div class="container mx-auto" style="background-color:#D2D8BE; border-radius: 12px;">
                <div class="row text-dark mx-3" >
                  <h2 class="text-start hindi mb-5" style="color: #7F6A4F;">आने वाले बैच</h2>
                    <!-- <div class="col-md-4">
                        <div class="row mt-4" > -->
                          <div *ngFor="let items of sortedArray; let i = index" class="col-md-4">
                              <div *ngIf="i < 3">
                                <h4 class="mb-3 hindi">बैच {{ i+1 }}</h4>
                                <div class="row">
                                  <div class="col-6">
                                    <h5 class="hindi">प्रारंभ दिनांक</h5>
                                    <p class="hindi" style="font-size: small;">{{items.sdate | date:'mediumDate'}}</p>
                                  </div>
                                  <div class="col-6">
                                    <h5 class="hindi">समय</h5>
                                    <p class="hindi" style="font-size: small;">{{ items.sdate | date:'shortTime' }}</p>
                                  </div>
                                </div>
                                <hr style="margin-top: 1rem;">
                              </div>
                          </div>
                          <!-- <div class="col-md-6">
                            <h6>Contact</h6>
                            <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                            <h5 class="text-start" style="font-weight: 700;">Renold George</h5>
                            <a type="button" class="btn text-dark" href="tel:+919035697380" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90356 97380</a>
                          </div> -->

                        <!-- </div>
                    </div> -->
                </div>
                <div class="row mx-3">
                    <!-- <div class="col-md-8"> -->

                      <!-- <div class="row mt-4"> -->
                        <div class="col-md-4 justify-content-center">
                          <h4 class="text-start hindi mt-4">कीमत</h4>
                          <h5 class="mt-3 hindi">Rs. 500/- प्रति सीट</h5>
                          <h6 class="mt-3 hindi" style="font-size: 0.8rem !important;">* तारीखें परिवर्तन के अधीन हैं|</h6>
                        </div>
                        <div class="col-md-4">
                          <h4 class="text-start hindi mt-4">संपर्क करें</h4>
                          <h5 class="mt-3 hindi">शिजू जॉन</h5>
                          <a type="button hindi" class="btn btn-success" href="tel:+919910913007" style="font-size: medium;"><i class="bi bi-telephone-fill" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99109 13007</a>
                          <!-- <a type="button" class="btn text-white mt-3" target="_blank" rel="noreferrer noopener" href="https://hpc.bcti.org.in/" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                        </div>
                        <div class="col-md-4 mb-md-1" style="align-self: end;">
                          <h5 class="hindi text-start">पंजीकरण करने के लिए नीचे क्लिक करें</h5>
                          <a type="button" class="btn btn-success" target="_blank" rel="noreferrer noopener" href="https://forms.gle/1kHTYHBFG3ofnmm97" style="font-size: medium; width: 200px;">पंजीकरण करें</a>
                          <!-- <a type="button" class="btn text-white " target="_blank" rel="noreferrer noopener" href="https://forms.gle/EWSxwgqfC1jnC8bC7" style="background-color: #6CAB72; font-size: medium; width: 200px;">Register Now</a> -->
                          <!-- <h5 style="font-weight: 700;">Nidish Philip</h5>
                          <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a> -->
                        </div>
                      <!-- </div> -->
                  <!-- </div> -->
                </div>

  </div>
</div>

 <!-- Text Testimonies -->
 <section class="section-cards pb-3" style="background-color: #a98f6e;">
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 col-12 mx-auto text-start">
          <h2 class="title hindi text-white text-center mx-auto mb-4" style="font-weight: 700;">जिन्होंने कोर्स किया है उनसे सुने</h2>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="testimony_cards_hpc_hindi d-flex flex-column-reverse">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides text-center mt-3">
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #f7ecd4;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“अन्धा था लेकिन अब देख सकता हूँ|” यह एक वाक्य इस बात को दर्शाता है कि BCTI ने मेरे जीवन में क्या किया है | इस टीम ने सूक्ष्मता और दीनता के साथ परमेश्वर के वचन को मेरे हृदय की गहराई में चुभाया जिससे मुझे प्रशिक्षित किया गया कि मैं अपने हृदय की अवस्था को देख सकूं | वे अंदरूनी परिवर्तन के लिए प्रेरित करते है ताकि हम दूसरों की आँखें खोलने में और त्रिएक परमेश्वर की छवि में रूपांतरित होने में उनकी मदद कर सकें | जो प्रभाव है वह स्पर्शनीय और मैं एक सीचें गए पौधे के समान बड़ रहा हूँ|”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color:#fff6e6;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“मैं इस कोर्स को कर पाई इसलिए आभारी हूँ | पिछले कुछ महीनों से मैं काफी कठिनाई का सामना कर रही थी और कोर्स के दौरान मैंने पहचाना कि मैं बेवजह उन बातों के लिए चिंतित हो रही थी | कोर्स करने के दौरान में मजबूत होती गई | मैंने निर्णय लिया कि मैं बेवजह प्रतिक्रिया नहीं दूँगी और मेरे पति ने भी मेरे जीवन में आये इस बड़े परिवर्तन की गवाही दी है | मैं इस कोर्स के बाकी सत्रों को करने की तीव्र इच्छा करती हूँ और दूसरों को भी सलाह दूँगी कि वह भी इस कोर्स को कर के आशीष पाए|”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: #E5E1DA;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“इस कोर्स को करने के द्वारा मेरा मसीह के साथ सम्बन्ध गहरा हुआ है | मैं पहचान पाई कि यह सारी परीक्षा जीवन का हिस्सा है ताकि मैं यीशु के समान बन सकूं तथा अधिक फल्वंत बन जाऊँ | और यह भी कि आशीष या परीक्षा हो हमेशा धन्यवाद दूं | पहले मैं हमेशा अपना बचाव किया करती थी, लेकिन कल जब मेरी सांस ने मुझ से कुछ कहा तो मैंने पलट के जवाब नहीं दिया तब उन्हें बहुत हैरानी हुई और यह मेरे जीवन में एक बड़ा परिवर्तन है | मैंने यह सीखा कि मुझे अपने आप को बचाने की या कुछ साबित करने की जरुरत नहीं है, मसीह मुझे जानता है और यह काफी है|”</p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-testimonial" style="align-content: center; background-color: lightgray;">
                    <div class="card-body text-start">
                      <p class="card-text hindi text-secondary my-3 mx-md-2">“मैंने सीखा कि कैसे बड़ी तस्वीर के लेंस के माध्यम से देखने से मेरा दृष्टिकोण बदल जाता है, जिससे मुझे व्यक्तिगत विकास से संबंधित महत्वपूर्ण चीजों पर ध्यान केंद्रित करने में मदद मिलती है। मैं इसे अपने दैनिक जीवन में उपयोग करूँगा। मुझे गर्मी, काँटा, क्रॉस और फल मॉडल के माध्यम से मुद्दों को देखने और दिल की मूर्तियों को देखने में मज़ा आया।”</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
              <i class="bi bi-arrow-left" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
              <button
                style="border: 3px solid #ffffff;"
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
              <i class="bi bi-arrow-right" style="color: #ffffff; -webkit-text-stroke: 1px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
