<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <img src="assets/img/about/Staff.webp" class="banner img-fluid" alt="">
  </div>
</div>
<!--Tagline-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <h2 class="text-center mb-0 pb-4 text-dark" style="font-style: italic; font-weight: 400 !important;">Empowering Churches. Healing Communities.</h2>
</div>
<!--Our Story-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start spacer" style="color: #7F6A4F;">Our Story</h2>
      <!-- <h2 class="text-md-end space" style="color: #7F6A4F;">Training</h2> -->
      <div class="col-md-6 spacer">

        <div class="Story justify-content-start">
          <!-- <div class="position-relative ">
          <div data-glide-el="controls">
            <button class="position-absolute" style="background-color: transparent; border: 0px; left: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-short"></i></h2></button>
            <button class="position-absolute" style="background-color: transparent; border: 0px; right: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-short"></i></h2></button>
          </div>
        </div> -->
          <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
              <li class="glide__slide">
                <div class="ratio ratio-16x9">
                  <img src="assets/img/about/Ashok_Vini.webp" alt="" class="rounded pb-3">
                </div>
              </li>
              <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                  </div>
              </li>
              <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="https://placehold.co/640x360" alt="" class="rounded pb-3">
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <p class="text-start" >The Biblical Counseling Trust of India (BCTI), founded by Dr.John K. John in 2005, trains pastors and church leaders to provide guidance for modern challenges. Initially focused on North India, BCTI follows the Biblical Counseling model of the Christian Counseling and Educational Foundation (CCEF). BCTI offer an 'Introduction to Biblical Counseling Certificate' after completing four modules: How People Change, Instruments in the Redeemer’s Hands, Health and Healing, and Marriage and Parenting. Courses are available via Zoom in Hindi and English, with CCEF's English courses online. BCTI also provides counseling in English and Hindi. Our office is in Dwarka, New Delhi.</p>
      </div>
    </div>
</div>
</div>
<!-- Our Vision   -->
<div class="page-header container-fluid" style="background-color: #777E5C;">
  <div class="container">
    <h2 class="text-start spacer">Our Vision</h2>
      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop" style= "align-items: center;">
            <!-- <span class="text-center" style="font-size:8em; color: #b12515;"><i class="bi bi-heart-pulse-fill"></i></span> -->
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Empowering local Churches & Ministries</h4>
              <p class="py-3">Strengthen local churches and ministries by providing them with the resources and support they need to thrive and fulfill their mission in the community. Empower leaders to create lasting, positive change through Christ-centered service.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Impacting and healing broken communities</h4>
              <p class="py-3">Bring hope and restoration to broken communities by addressing their spiritual and physical needs. Through compassionate outreach, foster healing and unity grounded in love and faith.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Equipping Christians to work as the Body of Christ</h4>
              <p class="py-3">Equip Christians with the tools, knowledge, and encouragement to work together as one Body in Christ. Enable them to serve effectively, building up the Church and advancing God’s Kingdom</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Building communities founded on the Word of God</h4>
              <p class="py-3">Build strong, resilient communities rooted in the unchanging truth of God's Word. Through discipleship and biblical teaching, create a foundation of faith that transforms lives and relationships.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
