<!-- Banner   -->
<div class="page-header container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <img src="assets/img/about/Staff.webp" class="banner img-fluid" alt="">
  </div>
</div>
<!-- Ribbon   -->
<div class="container-fluid" style="background-color: #777E5C;">
  <div class="container">
    <h1 class="text-center text-white" style="font-size: 40px !important;">Empowering Churches - Healing Communities</h1>
  </div>
</div>
<!--Tagline-->
<!-- <div class="container-fluid" style="background-color: #FFFCF0;">
  <h2 class="text-center mb-0 pb-4 text-dark" style="font-weight: 600 !important; color: #777E5C !important;">Empowering Churches. Healing Communities.</h2>
</div> -->
<!--Our Story-->
<div class="container-fluid" style="background-color: #FFFCF0;">
  <div class="container">
    <div class="row" style="margin-top: -50px;">
      <h2 class="text-start spacer mt-5" style="color: #7F6A4F;">Our Story</h2>
      <!-- <h2 class="text-md-end space" style="color: #7F6A4F;">Training</h2> -->
      <div class="col-md-6 spacer">

        <div class="Story justify-content-start">
          <!-- <div class="position-relative ">
          <div data-glide-el="controls">
            <button class="position-absolute" style="background-color: transparent; border: 0px; left: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir="<"><h2><i class="bi bi-arrow-left-short"></i></h2></button>
            <button class="position-absolute" style="background-color: transparent; border: 0px; right: 5%; top: 5em; z-index: 1000; color: #7F6A4F;" data-glide-dir=">"><h2><i class="bi bi-arrow-right-short"></i></h2></button>
          </div>
        </div> -->
          <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
              <li class="glide__slide">
                <div class="ratio ratio-16x9">
                  <img src="assets/img/about/Ashok_Vini.webp" alt="" class="rounded pb-3">
                </div>
              </li>
              <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="assets/img/about/Staff2.webp" alt="" class="rounded pb-3">
                  </div>
              </li>
              <!-- <li class="glide__slide">
                  <div class="ratio ratio-16x9">
                    <img src="assets/img/about/Staff3.webp" alt="" class="rounded pb-3">
                  </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <p class="text-start" >The Biblical Counseling Trust of India (BCTI), founded by Dr.John K. John in 2005, trains pastors and church leaders to provide guidance for modern challenges. Initially focused on North India, BCTI follows the Biblical Counseling model of the Christian Counseling and Educational Foundation (CCEF). BCTI offer an 'Introduction to Biblical Counseling Certificate' after completing four modules: How People Change, Instruments in the Redeemer’s Hands, Health and Healing, and Marriage and Parenting. Courses are available via Zoom in Hindi and English, with CCEF's English courses online. BCTI also provides counseling in English and Hindi. Our office is in Dwarka, New Delhi.</p>
      </div>
    </div>
    <div id="vision"></div>
  </div>

</div>
<!-- Our Vision   -->
<div class="page-header container-fluid" style="background-color: #D2D8BE;">
  <div class="container">
    <h2 class="text-start spacer"  style="color: #7F6A4F;">Our Vision</h2>
      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop" style= "align-items: center;">
            <!-- <span class="text-center" style="font-size:8em; color: #b12515;"><i class="bi bi-heart-pulse-fill"></i></span> -->
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Empowering local Churches & Ministries</h4>
              <p class="py-3">Strengthen local churches and ministries by providing them with the resources and support they need to thrive and fulfill their mission in the community. Empower leaders to create lasting, positive change through Christ-centered service.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Impacting and healing broken communities</h4>
              <p class="py-3">Bring hope and restoration to broken communities by addressing their spiritual and physical needs. Through compassionate outreach, foster healing and unity grounded in love and faith.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Equipping Christians to work as the Body of Christ</h4>
              <p class="py-3">Equip Christians with the tools, knowledge, and encouragement to work together as one Body in Christ. Enable them to serve effectively, building up the Church and advancing God’s Kingdom</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h4 class="mt-5" style="font-weight: 500 !important;">Building communities founded on the Word of God</h4>
              <p class="py-3">Build strong, resilient communities rooted in the unchanging truth of God's Word. Through discipleship and biblical teaching, create a foundation of faith that transforms lives and relationships.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!--Our Vaules-->
<div class="container-fluid" id="values" style="background-color: #FFFCF0;">
  <div class="container">
    <h2 class="text-start spacer" style="color: #7F6A4F;">Our Values</h2>
    <div class="row">

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop" style= "align-items: center;">
            <!-- <span class="text-center" style="font-size:8em; color: #b12515;"><i class="bi bi-heart-pulse-fill"></i></span> -->
            <div class="card-body text-center" style="margin-top: -1em;">
              <h3 class="mt-4 text-uppercase" style="font-weight: 600 !important;">Christ-Centred</h3>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h3 class="mt-4 text-uppercase" style="font-weight: 600 !important;">Practical</h3>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card card_header card-pop"  style= "align-items: center;">
            <div class="card-body text-center" style="margin-top: -1em;">
              <h3 class="mt-4 text-uppercase" style="font-weight: 600 !important;">Relational</h3>
            </div>
          </div>
        </div>

      <!-- <ul class="nav nav-pills mb-2 justify-content-md-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link btn text-white active mx-3 mb-3" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" style="background-color: #6CAB72; font-size: medium; width: 150px;">Christ-Centred</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn text-white mx-3 mb-3" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" style="background-color: #6CAB72; font-size: medium; width: 120px;">Practical</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn text-white mx-3 mb-3 " id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" style="background-color: #6CAB72; font-size: medium; width: 120px;">Relational</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!--Our Staff-->
<div class="container-fluid" id="staff" style="background-color: #777E5C;">
  <div class="container">
    <h2 class="text-start text-white spacer">Our Staff</h2>
    <div class="row row-cols-1 row-cols-md-3 g-5 mt-3 justify-content-center">
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/about/team1.webp" class="img"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Director</h6>
            <h4 class="card-title">Dr. Ashok Chacko</h4>
            <p class="card-description">A Physician with an advanced certificate in Biblical Counseling from CCEF. He focuses on pre-marital & marriage counseling, and training laypersons in Biblical Counseling.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/counseling/nidish.webp" class="img"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Counselor</h6>
            <h4 class="card-title">Nidish Philip</h4>
            <p class="card-description">Nidish holds a B.Th and is the Lead Trainer for our English programs and serves as a counsellor at BCTI. Additionally, he is also an Associate Pastor in his own local church.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/about/team3.webp" class="img"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Counselor</h6>
            <h4 class="card-title">Shiju John</h4>
            <p class="card-description">Shiju holds an M.Th. in Pastoral Care and Counseling. He is the Lead Trainer for our Hindi programs. He focuses on counseling families, depression and addiction.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/counseling/Fairy.webp" class="img"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Counselor</h6>
            <h4 class="card-title">Fairy Tak</h4>
            <p class="card-description">Fairy has double graduation in B.Th. and B.A. She also completed her theology diploma at Sydney Missionary and Bible College. She counsels women who are battling fear, worry, and confusion in this broken world.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/counseling/nissy.webp" class="img"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Counselor</h6>
            <h4 class="card-title">Nissy Renith</h4>
            <p>Nissy is a Trainer and Counselor at BCTI since 2018. She holds a Bachelors in Theology and a Masters in Social Work. She also assists the team in developing and translating training materials.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/counseling/Jessica.webp" class="img" width="177px"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Manager</h6>
            <h4 class="card-title">Jessica Parmar</h4>
            <p>Jessica works as Manager for Counselor Development, provides Counseling and manages the Online training in collaboration with CCEF. She has worked in the field of mental health for the past 10 years.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div data-image="img-rounded" class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;"><img src="assets/img/about/Bino.webp" class="img" width="177px"></a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Administrator</h6>
            <h4 class="card-title">Bino Jissan</h4>
            <p>Bino works as the administrator and does the accounting for BCTI. He is also proficient in I.T and is incharge of all the technical setup.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
